{
  "openapi": "3.1.0",
  "info": {
    "title": "TokenLab AI Gateway",
    "description": "Saldo organisasi, manajemen API key, dan penggunaan/penagihan tingkat key melalui management token",
    "version": "1.0.0",
    "termsOfService": "https://tokenlab.sh/tos",
    "contact": {
      "name": "Technical Support",
      "email": "support@tokenlab.sh"
    }
  },
  "servers": [
    {
      "url": "https://api.tokenlab.sh",
      "description": "Server produksi"
    }
  ],
  "tags": [
    {
      "name": "Chat",
      "description": "API Chat completions (kompatibel dengan OpenAI)"
    },
    {
      "name": "Responses",
      "description": "Endpoint native yang kompatibel dengan API OpenAI Responses"
    },
    {
      "name": "Embeddings",
      "description": "API Text embeddings"
    },
    {
      "name": "Images",
      "description": "API Image generation"
    },
    {
      "name": "Audio",
      "description": "API Audio processing (TTS & STT)"
    },
    {
      "name": "Video",
      "description": "API Video generation"
    },
    {
      "name": "Models",
      "description": "Daftar model yang tersedia"
    },
    {
      "name": "Anthropic",
      "description": "API Messages yang kompatibel dengan Anthropic"
    },
    {
      "name": "Gemini",
      "description": "API yang kompatibel dengan Google Gemini"
    },
    {
      "name": "Management",
      "description": "Manajemen API key organisasi dan penggunaan/penagihan tingkat key melalui management token"
    },
    {
      "name": "Files",
      "description": "Unggah dan pengambilan file batch"
    },
    {
      "name": "Batches",
      "description": "Batch job asinkron yang kompatibel dengan OpenAI"
    },
    {
      "name": "Seedance Volc Compatible",
      "description": "Endpoint kompatibilitas gaya Volc Seedance 2.0"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "tags": [
          "Chat"
        ],
        "summary": "Membuat chat completion",
        "description": "Membuat respons model dari permintaan Chat Completions. Upstream chat-native menerima bentuk permintaan tanpa perubahan selain bidang perutean dan autentikasi; bidang yang tidak dikenal diteruskan dengan upaya terbaik. Permintaan Portable Chat dapat dikompilasi satu arah ke protokol lain saat endpoint fisik yang kompatibel dipilih.",
        "operationId": "createChatCompletion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Chat completion dasar",
                  "value": {
                    "model": "gpt-4o",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are a helpful assistant."
                      },
                      {
                        "role": "user",
                        "content": "Hello!"
                      }
                    ]
                  }
                },
                "streaming": {
                  "summary": "Respons streaming",
                  "value": {
                    "model": "gpt-4o",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Tell me a story"
                      }
                    ],
                    "stream": true
                  }
                },
                "live_translation": {
                  "summary": "Streaming terjemahan audio",
                  "value": {
                    "model": "qwen3-livetranslate-flash",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "input_audio",
                            "input_audio": {
                              "data": "https://example.com/sample.wav",
                              "format": "wav"
                            }
                          }
                        ]
                      }
                    ],
                    "translation_options": {
                      "source_lang": "zh",
                      "target_lang": "en"
                    },
                    "modalities": [
                      "text"
                    ],
                    "stream": true
                  }
                },
                "function_calling": {
                  "summary": "Function calling",
                  "value": {
                    "model": "gpt-4o",
                    "messages": [
                      {
                        "role": "user",
                        "content": "What's the weather in Tokyo?"
                      }
                    ],
                    "tools": [
                      {
                        "type": "function",
                        "function": {
                          "name": "get_weather",
                          "description": "Mendapatkan cuaca untuk suatu lokasi",
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "location": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "location"
                            ]
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respons sukses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Stream Server-Sent Events dengan potongan JSON"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/embeddings": {
      "post": {
        "tags": [
          "Embeddings"
        ],
        "summary": "Membuat embeddings",
        "description": "Membuat vektor embedding yang merepresentasikan teks input.",
        "operationId": "createEmbedding",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddingRequest"
              },
              "examples": {
                "single": {
                  "summary": "Embedding teks tunggal",
                  "value": {
                    "model": "text-embedding-3-small",
                    "input": "The quick brown fox jumps over the lazy dog"
                  }
                },
                "batch": {
                  "summary": "Embedding batch",
                  "value": {
                    "model": "text-embedding-3-small",
                    "input": [
                      "Hello world",
                      "How are you?"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respons sukses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddingResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/multimodal/embeddings": {
      "post": {
        "tags": [
          "Embeddings"
        ],
        "summary": "Membuat embedding multimodal",
        "description": "Membuat embedding untuk item input multimodal. Input teks umumnya tersedia; input gambar mungkin memerlukan pengaktifan fitur.",
        "operationId": "createMultimodalEmbedding",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultimodalEmbeddingRequest"
              },
              "examples": {
                "text": {
                  "summary": "Input teks",
                  "value": {
                    "model": "jina-embeddings-v4",
                    "input": {
                      "text": "Describe this product for semantic search."
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respons sukses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultimodalEmbeddingResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/images/generations": {
      "post": {
        "tags": [
          "Images"
        ],
        "summary": "Membuat gambar",
        "description": "Membuat gambar berdasarkan prompt.",
        "operationId": "createImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageGenerationRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Generasi gambar dasar",
                  "value": {
                    "model": "gpt-image-2",
                    "prompt": "A white cat sitting on a rainy windowsill",
                    "size": "1024x1024",
                    "quality": "auto"
                  }
                },
                "high_quality": {
                  "summary": "Gambar kualitas tinggi",
                  "value": {
                    "model": "gpt-image-2",
                    "prompt": "A cinematic product photo of matte black headphones on a glass desk",
                    "size": "1536x1024",
                    "quality": "high"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ImageGenerationMultipartRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respons sukses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/images/{id}": {
      "get": {
        "tags": [
          "Images"
        ],
        "summary": "Mendapatkan status tugas gambar",
        "description": "Alias kompatibilitas untuk melakukan polling ID tugas gambar asinkron publik seperti `ldtask_...`. Gunakan `poll_url` yang dikembalikan oleh respons pembuatan, atau gunakan `/v1/tasks/{id}` sebagai endpoint status tetap kanonik. Rute ini menggunakan otorisasi, pemeriksaan kepemilikan, header penagihan, snapshot terminal, dan bentuk respons yang sama dengan penangan status khusus gambar.",
        "operationId": "getImageTaskStatusAlias",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID tugas gambar asinkron publik yang dikembalikan oleh `id` / `task_id`, atau disematkan dalam `poll_url`.",
            "schema": {
              "type": "string",
              "pattern": "^ldtask_[0-9a-fA-F]{32}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status tugas gambar",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "task_id": {
                      "type": "string"
                    },
                    "poll_url": {
                      "type": "string"
                    },
                    "created": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "processing",
                        "completed",
                        "failed"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "error": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Tugas tidak tersedia untuk API key saat ini",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Tugas tidak ditemukan atau tidak lagi tersedia",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/audio/speech": {
      "post": {
        "tags": [
          "Audio"
        ],
        "summary": "Membuat ucapan",
        "description": "Menghasilkan audio dari teks input (Text-to-Speech).",
        "operationId": "createSpeech",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudioSpeechRequest"
              },
              "examples": {
                "basic": {
                  "summary": "TTS dasar",
                  "value": {
                    "model": "tts-1",
                    "input": "Hello, welcome to TokenLab!",
                    "voice": "alloy"
                  }
                },
                "hd": {
                  "summary": "TTS kualitas HD",
                  "value": {
                    "model": "tts-1-hd",
                    "input": "This is high quality speech synthesis.",
                    "voice": "nova",
                    "response_format": "mp3",
                    "speed": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File audio",
            "content": {
              "audio/mpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/opus": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/aac": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/flac": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/audio/transcriptions": {
      "post": {
        "tags": [
          "Audio"
        ],
        "summary": "Membuat transkripsi",
        "description": "Mentranskripsikan audio menjadi teks (Speech-to-Text).",
        "operationId": "createTranscription",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AudioTranscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respons sukses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudioTranscriptionResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/videos/generations": {
      "post": {
        "tags": [
          "Video"
        ],
        "summary": "Membuat tugas generasi video",
        "description": "Membuat tugas generasi video asinkron. Respons mengembalikan ID tugas kanonik dan biasanya `poll_url` yang disukai; klien harus melakukan polling `poll_url` terlebih dahulu, atau menggunakan `/v1/tasks/{id}` sebagai endpoint status tetap.",
        "operationId": "createVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoGenerationRequest"
              },
              "examples": {
                "text_to_video": {
                  "summary": "Text-to-Video",
                  "value": {
                    "model": "veo3.1",
                    "prompt": "A cinematic shot of a golden retriever running through a field of sunflowers",
                    "duration": 5,
                    "aspect_ratio": "16:9"
                  }
                },
                "image_to_video": {
                  "summary": "Image-to-Video",
                  "value": {
                    "model": "hailuo-2.3-standard",
                    "prompt": "Make this image come alive with gentle movement",
                    "operation": "image-to-video",
                    "image_url": "https://example.com/image.jpg",
                    "duration": 6
                  }
                },
                "reference_to_video": {
                  "summary": "Reference-to-Video",
                  "value": {
                    "model": "veo3.1",
                    "prompt": "Keep the same subject identity and palette while adding subtle motion",
                    "operation": "reference-to-video",
                    "reference_images": [
                      "https://example.com/ref-a.jpg"
                    ],
                    "duration": 8,
                    "aspect_ratio": "9:16",
                    "resolution": "720p"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tugas berhasil dibuat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "409": {
            "description": "Materi Seedance masih dalam persiapan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "message": "Seedance material is still preparing. Please retry after it becomes ACTIVE.",
                    "type": "invalid_request_error",
                    "code": "seedance_material_preparing",
                    "param": "material_asset_id",
                    "auto_material_asset_ids": [
                      "asset-20260720123456-auto1"
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/videos/generations/{id}": {
      "get": {
        "tags": [
          "Video"
        ],
        "summary": "Mendapatkan status tugas video",
        "description": "Mengambil status dan hasil tugas generasi video. Klien baru harus menggunakan `poll_url` yang dikembalikan oleh respons pembuatan, atau menggunakan `/v1/tasks/{id}` sebagai endpoint status tetap kanonik. Jalur `/v1/videos/generations/{id}` tetap ada untuk kompatibilitas mundur.",
        "operationId": "getVideoTask",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID tugas asinkron yang dikembalikan oleh `id` / `task_id`, atau disematkan dalam `poll_url`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status tugas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Tugas tidak ditemukan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/videos/assets": {
      "post": {
        "tags": [
          "Video"
        ],
        "summary": "Membuat aset materi Seedance",
        "description": "Mengunggah satu URL aset materi Seedance ke dalam grup materi TokenLab. Materi gambar harus menggunakan dimensi yang didukung; sumber yang tidak valid akan ditolak dengan 400 seedance_material_source_invalid alih-alih tetap dalam status PROCESSING. Aset orang asli memerlukan group_id yang dipetakan dari Result.GroupId yang dikembalikan oleh GetVisualValidateResult.",
        "operationId": "createSeedanceMaterialAsset",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceMaterialAssetCreateRequest"
              },
              "examples": {
                "virtual_avatar_asset": {
                  "summary": "Membuat aset materi avatar virtual",
                  "value": {
                    "asset_url": "https://example.com/reference.png",
                    "asset_name": "Front view",
                    "asset_type": "Image",
                    "library_type": "aigc_avatar",
                    "group_id": "group-20260720123456-vrt01"
                  }
                },
                "real_person_asset": {
                  "summary": "Membuat aset materi orang asli",
                  "value": {
                    "asset_url": "https://example.com/verified-person-closeup.jpg",
                    "asset_name": "Creator A close-up",
                    "asset_type": "Image",
                    "library_type": "liveness_face",
                    "group_id": "group-20260720123456-real1"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Aset materi berhasil dibuat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceMaterialAsset"
                },
                "examples": {
                  "asset_created": {
                    "summary": "Aset materi diterima untuk diproses",
                    "value": {
                      "id": "asset-20260720123456-qn7wr",
                      "object": "seedance.material_asset",
                      "group_id": "group-20260720123456-vrt01",
                      "library_type": "aigc_avatar",
                      "asset_name": "Front view",
                      "asset_type": "Image",
                      "status": "PROCESSING",
                      "ready": false,
                      "error_message": null,
                      "metadata": null,
                      "created_at": 1782998400000
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "description": "Konflik pemetaan aset materi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/MaterialLibraryUnavailable"
          }
        }
      },
      "get": {
        "tags": [
          "Video"
        ],
        "summary": "Daftar aset materi Seedance",
        "description": "Mencantumkan aset materi Seedance yang dimiliki oleh organisasi terautentikasi. Gunakan filter library_type, group_id, dan status untuk menemukan aset untuk alur kerja generasi.",
        "operationId": "listSeedanceMaterialAssets",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter berdasarkan ID grup aset materi TokenLab."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PROCESSING",
                "ACTIVE",
                "FAILED",
                "DELETED"
              ]
            }
          },
          {
            "name": "library_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "aigc_avatar",
                "liveness_face"
              ]
            },
            "description": "Filter berdasarkan kelas library materi."
          },
          {
            "name": "project_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "default": "default"
            },
            "description": "Cakupan proyek untuk sumber daya materi."
          }
        ],
        "responses": {
          "200": {
            "description": "Aset materi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceMaterialAssetList"
                },
                "examples": {
                  "assets": {
                    "summary": "Aset materi",
                    "value": {
                      "assets": [
                        {
                          "id": "asset-20260720123456-qn7wr",
                          "object": "seedance.material_asset",
                          "group_id": "group-20260720123456-vrt01",
                          "library_type": "aigc_avatar",
                          "asset_name": "Front view",
                          "asset_type": "Image",
                          "status": "ACTIVE",
                          "ready": true,
                          "error_message": null,
                          "metadata": null,
                          "created_at": 1782998400000
                        }
                      ],
                      "next_page_token": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/videos/assets/{assetId}": {
      "get": {
        "tags": [
          "Video"
        ],
        "summary": "Mendapatkan aset materi Seedance",
        "description": "Mengambil satu aset materi Seedance TokenLab dan status penyerapan asinkronnya.",
        "operationId": "getSeedanceMaterialAsset",
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "asset-20260720123456-qn7wr"
          },
          {
            "name": "project_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "default": "default"
            },
            "description": "Cakupan proyek untuk sumber daya materi."
          }
        ],
        "responses": {
          "200": {
            "description": "Aset materi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceMaterialAsset"
                },
                "examples": {
                  "asset": {
                    "summary": "Aset materi",
                    "value": {
                      "id": "asset-20260720123456-qn7wr",
                      "object": "seedance.material_asset",
                      "group_id": "group-20260720123456-vrt01",
                      "library_type": "aigc_avatar",
                      "asset_name": "Front view",
                      "asset_type": "Image",
                      "status": "ACTIVE",
                      "ready": true,
                      "error_message": null,
                      "metadata": null,
                      "created_at": 1782998400000
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/MaterialLibraryUnavailable"
          }
        }
      },
      "put": {
        "tags": [
          "Video"
        ],
        "operationId": "updateSeedanceMaterialAsset",
        "summary": "Memperbarui aset materi Seedance",
        "description": "Memperbarui aset materi Seedance yang dimiliki oleh organisasi terautentikasi.",
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "description": "ID aset materi TokenLab.",
            "schema": {
              "type": "string"
            },
            "example": "asset-20260720123456-qn7wr"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceMaterialAssetUpdateRequest"
              },
              "examples": {
                "update_asset": {
                  "summary": "Memperbarui metadata aset",
                  "value": {
                    "asset_name": "Front view approved",
                    "metadata": {
                      "approved_by": "creative-team"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Aset materi berhasil diperbarui",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceMaterialAsset"
                },
                "examples": {
                  "asset_updated": {
                    "summary": "Aset materi berhasil diperbarui",
                    "value": {
                      "id": "asset-20260720123456-qn7wr",
                      "object": "seedance.material_asset",
                      "group_id": "group-20260720123456-vrt01",
                      "library_type": "aigc_avatar",
                      "asset_name": "Front view approved",
                      "asset_type": "Image",
                      "status": "ACTIVE",
                      "ready": true,
                      "error_message": null,
                      "metadata": {
                        "approved_by": "creative-team"
                      },
                      "created_at": 1782998400000
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Aset materi masih diproses atau gagal tanpa replika aktif",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Sumber materi yang disimpan gagal dalam validasi permanen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "message": "Image width must be between 300px and 6000px.",
                    "type": "invalid_request_error",
                    "code": "seedance_material_source_invalid",
                    "param": "asset_url"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/MaterialLibraryUnavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Video"
        ],
        "summary": "Menghapus aset materi Seedance",
        "description": "Menghapus aset materi Seedance yang dimiliki oleh organisasi terautentikasi.",
        "operationId": "deleteSeedanceMaterialAsset",
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "asset-20260720123456-qn7wr"
          },
          {
            "name": "project_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "default": "default"
            },
            "description": "Cakupan proyek untuk sumber daya materi."
          }
        ],
        "responses": {
          "200": {
            "description": "Aset materi berhasil dihapus",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceMaterialAssetDeleteResponse"
                },
                "examples": {
                  "asset_deleted": {
                    "summary": "Aset materi berhasil dihapus",
                    "value": {
                      "deleted": true,
                      "id": "asset-20260720123456-qn7wr"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/MaterialLibraryUnavailable"
          }
        }
      }
    },
    "/v1/tasks/{id}": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Mendapatkan status tugas asinkron",
        "description": "Mengambil status dan hasil tugas generasi asinkron. Gunakan `poll_url` yang dikembalikan oleh respons pembuatan; `/v1/tasks/{id}` adalah endpoint status tetap kanonik untuk pekerjaan video, musik, dan 3D.",
        "operationId": "getAsyncTask",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID tugas asinkron yang dikembalikan oleh `id` / `task_id`, atau disematkan dalam `poll_url`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status tugas (bidang khusus jenis tugas mungkin ada)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Tugas tidak tersedia untuk API key saat ini",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Tasks"
        ],
        "summary": "Membatalkan tugas asinkron",
        "description": "Membatalkan tugas asinkron dalam antrean saat pembatalan didukung untuk tugas yang dipilih. Pembatalan saat ini mendukung tugas video Seedance dalam antrean (`seedance-1.5-pro`, `seedance-2.0`, dan `seedance-2.0-fast`) saat masih menunggu untuk dijalankan. Tugas yang sudah diproses, selesai, gagal, kedaluwarsa, atau tidak didukung tidak akan dibatalkan.",
        "operationId": "cancelAsyncTask",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID tugas asinkron yang dikembalikan oleh `id` / `task_id`, atau disematkan dalam `poll_url`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tugas dibatalkan. Tugas tetap dapat dikueri dan direpresentasikan sebagai `failed` dengan `cancelled: true` untuk kompatibilitas dengan nilai status tugas asinkron yang ada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                },
                "example": {
                  "id": "ldtask_aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                  "task_id": "ldtask_aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                  "poll_url": "/v1/tasks/ldtask_aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                  "status": "failed",
                  "cancelled": true,
                  "cancellation_status": "cancelled",
                  "error": "Task cancelled before execution"
                }
              }
            }
          },
          "400": {
            "description": "Jenis tugas, penyedia, atau model tidak mendukung pembatalan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Tugas tidak tersedia untuk API key saat ini",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Tugas tidak ditemukan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Tugas tidak dapat dibatalkan lagi, misalnya karena sudah diproses atau sudah terminal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/models": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "Daftar model",
        "description": "Mencantumkan model yang tersedia saat ini. Gunakan `view=compact` untuk pemilihan model dan `view=full` untuk bentuk penemuan yang kompatibel dengan OpenAI yang ada. Panggilan API native menggunakan default `full`; integrasi dapat memilih `compact` sebagai default mereka. Rekomendasi non-chat tersedia melalui `recommended_for`.",
        "operationId": "listModels",
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "required": false,
            "description": "Filter berdasarkan penyedia model publik, misalnya openai, anthropic, google, atau minimax.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "description": "Filter berdasarkan tag kapabilitas publik.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Filter berdasarkan kategori model.",
            "schema": {
              "type": "string",
              "enum": [
                "chat",
                "embedding",
                "translation",
                "image",
                "video",
                "audio",
                "tts",
                "stt",
                "rerank",
                "3d",
                "music"
              ]
            }
          },
          {
            "name": "recommended_for",
            "in": "query",
            "required": false,
            "description": "Mengurutkan model non-chat yang didukung untuk kategori tugas dan menyertakan bukti rekomendasi.",
            "schema": {
              "type": "string",
              "enum": [
                "image",
                "video",
                "music",
                "3d",
                "tts",
                "stt",
                "embedding",
                "rerank",
                "translation"
              ]
            }
          },
          {
            "name": "view",
            "in": "query",
            "required": false,
            "description": "Memilih bidang pemilihan model ringkas atau bentuk daftar lengkap yang kompatibel dengan OpenAI.",
            "schema": {
              "type": "string",
              "enum": [
                "compact",
                "full"
              ],
              "default": "full"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Daftar model",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ModelsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/CompactModelsResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/models/{model}": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "Mendapatkan model",
        "description": "Mengambil detail model saat ini, termasuk operasi yang didukung, parameter permintaan, endpoint permintaan, batas pemilih, dan harga jika tersedia. Integrasi non-chat harus membaca detail permintaan spesifik model saat ini sebelum membuat permintaan.",
        "operationId": "getModel",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "ID model",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Informasi model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Model tidak ditemukan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/messages": {
      "post": {
        "tags": [
          "Anthropic"
        ],
        "summary": "Buat pesan (kompatibel dengan Anthropic)",
        "description": "Membuat respons model menggunakan format permintaan asli Anthropic. Mendukung model Claude dengan visi dan streaming.\n\n**Autentikasi:** Gunakan header `x-api-key` atau header `Authorization: Bearer`.",
        "operationId": "createAnthropicMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnthropicMessagesRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Pesan dasar",
                  "value": {
                    "model": "claude-sonnet-4-6",
                    "max_tokens": 1024,
                    "messages": [
                      {
                        "role": "user",
                        "content": "Hello, Claude!"
                      }
                    ]
                  }
                },
                "with_system": {
                  "summary": "Dengan prompt sistem",
                  "value": {
                    "model": "claude-sonnet-4-6",
                    "max_tokens": 1024,
                    "system": "You are a helpful assistant.",
                    "messages": [
                      {
                        "role": "user",
                        "content": "What is 2+2?"
                      }
                    ]
                  }
                },
                "streaming": {
                  "summary": "Respons streaming",
                  "value": {
                    "model": "claude-sonnet-4-6",
                    "max_tokens": 1024,
                    "stream": true,
                    "messages": [
                      {
                        "role": "user",
                        "content": "Tell me a story"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respons sukses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicMessagesResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Stream SSE gaya Anthropic dengan event message_start, content_block_delta, message_stop"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/messages/count_tokens": {
      "post": {
        "tags": [
          "Anthropic"
        ],
        "summary": "Hitung token pesan (kompatibel dengan Anthropic)",
        "description": "Menghitung token input untuk permintaan pesan yang kompatibel dengan Anthropic tanpa membuat respons model. Autentikasi diperlukan; operasi ini tidak dikenakan biaya.",
        "operationId": "countAnthropicMessageTokens",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnthropicCountTokensRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respons jumlah token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicCountTokensResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/messages/batches": {
      "post": {
        "tags": [
          "Anthropic"
        ],
        "summary": "Buat batch pesan (kompatibel dengan Anthropic)",
        "description": "Membuat Batch Pesan Anthropic asli. Permintaan menggunakan parameter pesan Anthropic yang sama seperti /v1/messages.",
        "operationId": "createAnthropicMessageBatch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnthropicMessageBatchCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch pesan yang dibuat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicMessageBatch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      },
      "get": {
        "tags": [
          "Anthropic"
        ],
        "summary": "Daftar batch pesan (kompatibel dengan Anthropic)",
        "description": "Mencantumkan Batch Pesan Anthropic asli untuk organisasi yang terautentikasi.",
        "operationId": "listAnthropicMessageBatches",
        "parameters": [
          {
            "name": "before_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Kembalikan batch sebelum id batch ini"
          },
          {
            "name": "after_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Kembalikan batch setelah id batch ini"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 20
            },
            "description": "Jumlah maksimum batch yang akan dikembalikan"
          }
        ],
        "responses": {
          "200": {
            "description": "Daftar batch pesan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicMessageBatchListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/messages/batches/{message_batch_id}": {
      "get": {
        "tags": [
          "Anthropic"
        ],
        "summary": "Ambil batch pesan (kompatibel dengan Anthropic)",
        "description": "Mengambil status dan metadata untuk Batch Pesan Anthropic asli.",
        "operationId": "retrieveAnthropicMessageBatch",
        "parameters": [
          {
            "name": "message_batch_id",
            "in": "path",
            "required": true,
            "description": "Pengidentifikasi batch pesan Anthropic",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch pesan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicMessageBatch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      },
      "delete": {
        "tags": [
          "Anthropic"
        ],
        "summary": "Hapus batch pesan (kompatibel dengan Anthropic)",
        "description": "Menghapus Batch Pesan Anthropic asli jika penyedia mendukung penghapusan.",
        "operationId": "deleteAnthropicMessageBatch",
        "parameters": [
          {
            "name": "message_batch_id",
            "in": "path",
            "required": true,
            "description": "Pengidentifikasi batch pesan Anthropic",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch pesan yang dihapus",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicDeletedMessageBatch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/messages/batches/{message_batch_id}/results": {
      "get": {
        "tags": [
          "Anthropic"
        ],
        "summary": "Ambil hasil batch pesan (kompatibel dengan Anthropic)",
        "description": "Mengunduh hasil JSONL untuk Batch Pesan Anthropic asli yang telah selesai.",
        "operationId": "retrieveAnthropicMessageBatchResults",
        "parameters": [
          {
            "name": "message_batch_id",
            "in": "path",
            "required": true,
            "description": "Pengidentifikasi batch pesan Anthropic",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hasil batch pesan dalam format JSONL",
            "content": {
              "application/x-jsonl": {
                "schema": {
                  "type": "string",
                  "description": "Catatan hasil JSON yang dipisahkan oleh baris baru"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Catatan hasil JSON yang dipisahkan oleh baris baru"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/messages/batches/{message_batch_id}/cancel": {
      "post": {
        "tags": [
          "Anthropic"
        ],
        "summary": "Batalkan batch pesan (kompatibel dengan Anthropic)",
        "description": "Membatalkan Batch Pesan Anthropic asli jika penyedia masih mengizinkan pembatalan.",
        "operationId": "cancelAnthropicMessageBatch",
        "parameters": [
          {
            "name": "message_batch_id",
            "in": "path",
            "required": true,
            "description": "Pengidentifikasi batch pesan Anthropic",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch pesan yang dibatalkan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicMessageBatch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1beta/models/{model}:generateContent": {
      "post": {
        "tags": [
          "Gemini"
        ],
        "summary": "Hasilkan konten (kompatibel dengan Gemini)",
        "description": "Menghasilkan konten menggunakan bentuk GenerateContent Gemini asli. Rute ini diekspos hanya ketika detail model mengiklankan permintaan Gemini dan rute protokol yang sama saat ini tersedia. Nama bidang ProtoJSON lowerCamelCase dan snake_case proto asli dipertahankan. Bidang yang tidak diketahui diteruskan dengan upaya terbaik dan dukungan ditentukan oleh penyedia yang dipilih.\n\n**Autentikasi:** Gunakan parameter kueri `?key=`, header `x-goog-api-key`, atau header `Authorization: Bearer`.",
        "operationId": "geminiGenerateContent",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          },
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "Nama model (contoh: gemini-2.5-pro)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "description": "Kunci API (alternatif untuk autentikasi header)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeminiRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Pembuatan teks dasar",
                  "value": {
                    "contents": [
                      {
                        "parts": [
                          {
                            "text": "Hello, Gemini!"
                          }
                        ]
                      }
                    ]
                  }
                },
                "with_config": {
                  "summary": "Dengan konfigurasi pembuatan",
                  "value": {
                    "contents": [
                      {
                        "parts": [
                          {
                            "text": "Explain quantum computing"
                          }
                        ]
                      }
                    ],
                    "generationConfig": {
                      "temperature": 0.7,
                      "maxOutputTokens": 1024
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respons sukses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Kesalahan permintaan tidak valid asli Gemini",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Kesalahan autentikasi asli Gemini",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Kesalahan pembayaran asli Gemini",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Kesalahan server asli Gemini",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        }
      }
    },
    "/v1beta/models/{model}:streamGenerateContent": {
      "post": {
        "tags": [
          "Gemini"
        ],
        "summary": "Stream hasilkan konten (kompatibel dengan Gemini)",
        "description": "Melakukan streaming Server-Sent Events GenerateContent Gemini asli tanpa menambahkan terminator Chat Completions. Chunk khusus metadata, chunk perantara tanpa finishReason, dan EOF alami adalah valid.\n\n**Autentikasi:** Gunakan parameter kueri `?key=`, header `x-goog-api-key`, atau header `Authorization: Bearer`.",
        "operationId": "geminiStreamGenerateContent",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          },
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "Nama model (contoh: gemini-2.5-pro)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "description": "Kunci API (alternatif untuk autentikasi header)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeminiRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respons streaming",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Stream SSE dengan chunk respons Gemini"
                }
              }
            }
          },
          "400": {
            "description": "Kesalahan permintaan tidak valid asli Gemini",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Kesalahan autentikasi asli Gemini",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Kesalahan pembayaran asli Gemini",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Kesalahan server asli Gemini",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        }
      }
    },
    "/v1beta/models/{model}:countTokens": {
      "post": {
        "tags": [
          "Gemini"
        ],
        "summary": "Hitung token (kompatibel dengan Gemini)",
        "description": "Menghitung token menggunakan kontrak CountTokens Gemini asli. Bidang yang tidak diketahui dan ejaan nama bidang ProtoJSON resmi diteruskan dengan upaya terbaik.",
        "operationId": "geminiCountTokens",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "generateContentRequest": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "generate_content_request": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respons jumlah token asli Gemini",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Respons kesalahan asli Gemini",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/models/{model}:embedContent": {
      "post": {
        "tags": [
          "Gemini"
        ],
        "summary": "Sematkan konten (kompatibel dengan Gemini)",
        "description": "Membuat embedding menggunakan kontrak EmbedContent Gemini asli.",
        "operationId": "geminiEmbedContent",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          },
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "content"
                ],
                "properties": {
                  "content": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "taskType": {
                    "type": "string"
                  },
                  "task_type": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "outputDimensionality": {
                    "type": "integer"
                  },
                  "output_dimensionality": {
                    "type": "integer"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respons embedding asli Gemini",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Respons kesalahan asli Gemini",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        }
      }
    },
    "/v1beta/models/{model}:batchEmbedContents": {
      "post": {
        "tags": [
          "Gemini"
        ],
        "summary": "Sematkan konten batch (kompatibel dengan Gemini)",
        "description": "Membuat beberapa embedding menggunakan kontrak BatchEmbedContents Gemini asli.",
        "operationId": "geminiBatchEmbedContents",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          },
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "requests"
                ],
                "properties": {
                  "requests": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respons embedding batch asli Gemini",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Respons kesalahan asli Gemini",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        }
      }
    },
    "/v1/responses": {
      "post": {
        "tags": [
          "Responses"
        ],
        "summary": "Buat respons (API Respons OpenAI)",
        "description": "Membuat respons menggunakan bentuk API Respons OpenAI asli. Detail model harus mengiklankan format permintaan Respons dan rute protokol yang sama harus tersedia saat ini; nama model dan penyedia tidak menyiratkan ketersediaan. Bidang permintaan yang tidak diketahui diteruskan dengan upaya terbaik dan tetap tunduk pada dukungan penyedia yang dipilih.",
        "operationId": "createResponse",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Model yang akan digunakan"
                  },
                  "input": {
                    "oneOf": [
                      {
                        "type": "string",
                        "description": "Input string tunggal."
                      },
                      {
                        "type": "array",
                        "description": "Item input terstruktur untuk percakapan."
                      }
                    ],
                    "description": "Konten input sebagai string atau array item terstruktur."
                  },
                  "instructions": {
                    "type": "string",
                    "description": "Instruksi sistem"
                  },
                  "max_output_tokens": {
                    "type": "integer",
                    "description": "Token output maksimum"
                  },
                  "temperature": {
                    "type": "number"
                  },
                  "stream": {
                    "type": "boolean"
                  },
                  "tools": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Alat yang tersedia untuk model. Jenis dan kombinasi alat divalidasi oleh layanan yang dipilih."
                  },
                  "tool_choice": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "object",
                        "additionalProperties": true
                      }
                    ],
                    "description": "Kebijakan pemilihan alat atau pemilihan alat eksplisit."
                  },
                  "stream_options": {
                    "type": "object",
                    "properties": {
                      "include_obfuscation": {
                        "type": "boolean",
                        "description": "Jika benar, minta token yang disamarkan dalam event stream Respons dari upstream yang kompatibel."
                      }
                    },
                    "additionalProperties": true,
                    "description": "Opsi streaming Respons."
                  },
                  "include": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Bagian respons tambahan untuk disertakan jika didukung."
                  },
                  "service_tier": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Petunjuk tingkat layanan untuk penyedia yang kompatibel."
                  },
                  "truncation": {
                    "type": "string",
                    "description": "Strategi pemotongan untuk percakapan panjang."
                  },
                  "background": {
                    "type": "boolean",
                    "description": "Apakah akan menjalankan respons secara asinkron."
                  },
                  "previous_response_id": {
                    "type": "string",
                    "description": "ID respons sebelumnya untuk dilanjutkan."
                  },
                  "prompt": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Referensi ke template prompt yang dapat digunakan kembali dan variabelnya."
                  },
                  "store": {
                    "type": "boolean",
                    "description": "Apakah respons disimpan untuk pengambilan nanti."
                  },
                  "reasoning": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Konfigurasi penalaran."
                  },
                  "top_p": {
                    "type": "number",
                    "description": "Probabilitas pengambilan sampel nukleus."
                  },
                  "parallel_tool_calls": {
                    "type": "boolean",
                    "description": "Apakah model boleh mengeluarkan panggilan alat paralel."
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Metadata permintaan."
                  },
                  "text": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Opsi pemformatan teks."
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respons sukses"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/responses/{id}": {
      "get": {
        "tags": [
          "Responses"
        ],
        "summary": "Ambil respons",
        "description": "Mengambil respons API Respons yang disimpan berdasarkan id respons TokenLab. Pemeriksaan kepemilikan mengembalikan 404 jika respons hilang atau tidak tersedia untuk kunci API saat ini.",
        "operationId": "retrieveResponse",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Id respons yang dikembalikan oleh POST /v1/responses."
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Bidang respons tambahan untuk disertakan."
          },
          {
            "name": "include_obfuscation",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Apakah event yang di-stream menyertakan bidang penyamaran."
          },
          {
            "name": "stream",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Apakah akan mengambil respons sebagai stream event."
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Nomor urut setelah event streaming dikembalikan."
          }
        ],
        "responses": {
          "200": {
            "description": "Respons yang disimpan"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Responses"
        ],
        "summary": "Hapus respons",
        "description": "Menghapus respons API Respons yang disimpan. Operasi ini adalah penghapusan, bukan pembatalan respons yang sedang berlangsung.",
        "operationId": "deleteResponse",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Id respons yang dikembalikan oleh POST /v1/responses."
          }
        ],
        "responses": {
          "200": {
            "description": "Respons yang dihapus"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/responses/compact": {
      "post": {
        "tags": [
          "Responses"
        ],
        "summary": "Konteks respons ringkas (API Respons OpenAI)",
        "description": "Meringkas input Respons dan mengembalikan kontrak `response.compaction` asli. Model permintaan harus tersedia di jalur Respons protokol yang sama.",
        "operationId": "compactResponse",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "input"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Model yang akan digunakan untuk pemadatan. Codex CLI mengirimkan model sesi saat ini."
                  },
                  "input": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "description": "Item input Respons untuk diringkas."
                      }
                    ],
                    "description": "Input percakapan untuk diringkas."
                  },
                  "max_output_tokens": {
                    "type": "integer",
                    "description": "Token output maksimum."
                  },
                  "stream": {
                    "type": "boolean",
                    "description": "Streaming tidak didukung untuk pemadatan."
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Metadata permintaan."
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respons pemadatan berhasil"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/rerank": {
      "post": {
        "tags": [
          "Embeddings"
        ],
        "summary": "Rerank dokumen",
        "description": "Melakukan rerank dokumen berdasarkan relevansi dengan kueri menggunakan kesamaan semantik.",
        "operationId": "rerankDocuments",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "query",
                  "documents"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Model reranker yang akan digunakan"
                  },
                  "query": {
                    "type": "string",
                    "description": "Kueri untuk diperingkat"
                  },
                  "documents": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Dokumen untuk diranking ulang"
                  },
                  "top_n": {
                    "type": "integer",
                    "description": "Jumlah hasil yang akan dikembalikan"
                  },
                  "return_documents": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Hasil yang telah diperingkat",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "results",
                    "model"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "model": {
                      "type": "string"
                    },
                    "usage": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/music/generations": {
      "post": {
        "tags": [
          "Audio"
        ],
        "summary": "Buat tugas pembuatan musik",
        "description": "Membuat tugas pembuatan musik menggunakan Suno. Mengembalikan ID tugas untuk polling.",
        "operationId": "createMusic",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "default": "suno_music"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Deskripsi musik. Wajib untuk permintaan music, lyrics, upload-cover, dan upload-extend; abaikan untuk add-instrumental."
                  },
                  "title": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "string"
                  },
                  "negative_tags": {
                    "type": "string",
                    "description": "Gaya yang harus dihindari. Wajib jika audio_operation adalah add-instrumental."
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "MUSIC",
                      "LYRICS"
                    ]
                  },
                  "mv": {
                    "type": "string",
                    "enum": [
                      "chirp-v3-5",
                      "chirp-v4",
                      "chirp-v4-5",
                      "chirp-v4.5",
                      "chirp-v4-5plus",
                      "chirp-v4.5plus",
                      "chirp-v4-5all",
                      "chirp-v4.5all",
                      "chirp-v5",
                      "chirp-v5-5",
                      "chirp-v5.5"
                    ],
                    "description": "Versi model Suno resmi. Wajib saat membuat musik (action dihilangkan atau MUSIC); abaikan untuk permintaan khusus lirik."
                  },
                  "make_instrumental": {
                    "type": "boolean",
[...]
