{
  "openapi": "3.1.0",
  "info": {
    "title": "TokenLab AI Gateway",
    "description": "管理用トークンによる組織の残高、APIキー管理、およびキー単位の利用状況/請求管理",
    "version": "1.0.0",
    "termsOfService": "https://tokenlab.sh/tos",
    "contact": {
      "name": "Technical Support",
      "email": "support@tokenlab.sh"
    }
  },
  "servers": [
    {
      "url": "https://api.tokenlab.sh",
      "description": "本番環境サーバー"
    }
  ],
  "tags": [
    {
      "name": "Chat",
      "description": "Chat completions API (OpenAI互換)"
    },
    {
      "name": "Responses",
      "description": "OpenAI Responses API互換のネイティブエンドポイント"
    },
    {
      "name": "Embeddings",
      "description": "Text embeddings API"
    },
    {
      "name": "Images",
      "description": "Image generation API"
    },
    {
      "name": "Audio",
      "description": "Audio processing API (TTS & STT)"
    },
    {
      "name": "Video",
      "description": "Video generation API"
    },
    {
      "name": "Models",
      "description": "利用可能なモデルの一覧"
    },
    {
      "name": "Anthropic",
      "description": "Anthropic互換 Messages API"
    },
    {
      "name": "Gemini",
      "description": "Google Gemini互換 API"
    },
    {
      "name": "Management",
      "description": "管理用トークンによる組織のAPIキー管理およびキー単位の利用状況/請求管理"
    },
    {
      "name": "Files",
      "description": "バッチファイルのアップロードと取得"
    },
    {
      "name": "Batches",
      "description": "OpenAI互換の非同期バッチジョブ"
    },
    {
      "name": "Seedance Volc Compatible",
      "description": "Seedance 2.0 Volcスタイル互換エンドポイント"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "tags": [
          "Chat"
        ],
        "summary": "チャットコンプリーションの作成",
        "description": "Chat Completionsリクエストからモデルのレスポンスを作成します。チャットネイティブなアップストリームは、ルーティングおよび認証フィールドを除き、リクエストの形式をそのまま受け取ります。不明なフィールドはベストエフォートで転送されます。ポータブルなチャットリクエストは、互換性のある物理エンドポイントが選択された場合に、別のプロトコルへ一方向にコンパイルされることがあります。",
        "operationId": "createChatCompletion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "basic": {
                  "summary": "基本的なチャットコンプリーション",
                  "value": {
                    "model": "gpt-4o",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are a helpful assistant."
                      },
                      {
                        "role": "user",
                        "content": "Hello!"
                      }
                    ]
                  }
                },
                "streaming": {
                  "summary": "ストリーミングレスポンス",
                  "value": {
                    "model": "gpt-4o",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Tell me a story"
                      }
                    ],
                    "stream": true
                  }
                },
                "live_translation": {
                  "summary": "音声翻訳のストリーミング",
                  "value": {
                    "model": "qwen3-livetranslate-flash",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "input_audio",
                            "input_audio": {
                              "data": "https://example.com/sample.wav",
                              "format": "wav"
                            }
                          }
                        ]
                      }
                    ],
                    "translation_options": {
                      "source_lang": "zh",
                      "target_lang": "en"
                    },
                    "modalities": [
                      "text"
                    ],
                    "stream": true
                  }
                },
                "function_calling": {
                  "summary": "Function calling",
                  "value": {
                    "model": "gpt-4o",
                    "messages": [
                      {
                        "role": "user",
                        "content": "What's the weather in Tokyo?"
                      }
                    ],
                    "tools": [
                      {
                        "type": "function",
                        "function": {
                          "name": "get_weather",
                          "description": "指定した場所の天気を取得",
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "location": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "location"
                            ]
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功レスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "JSONチャンクを含むServer-Sent Eventsストリーム"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/embeddings": {
      "post": {
        "tags": [
          "Embeddings"
        ],
        "summary": "埋め込み（embeddings）の作成",
        "description": "入力テキストを表す埋め込みベクトルを作成します。",
        "operationId": "createEmbedding",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddingRequest"
              },
              "examples": {
                "single": {
                  "summary": "単一テキストの埋め込み",
                  "value": {
                    "model": "text-embedding-3-small",
                    "input": "The quick brown fox jumps over the lazy dog"
                  }
                },
                "batch": {
                  "summary": "バッチ埋め込み",
                  "value": {
                    "model": "text-embedding-3-small",
                    "input": [
                      "Hello world",
                      "How are you?"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功レスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddingResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/multimodal/embeddings": {
      "post": {
        "tags": [
          "Embeddings"
        ],
        "summary": "マルチモーダル埋め込みの作成",
        "description": "マルチモーダル入力アイテムの埋め込みを作成します。テキスト入力は通常利用可能ですが、画像入力には機能の有効化が必要な場合があります。",
        "operationId": "createMultimodalEmbedding",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultimodalEmbeddingRequest"
              },
              "examples": {
                "text": {
                  "summary": "テキスト入力",
                  "value": {
                    "model": "jina-embeddings-v4",
                    "input": {
                      "text": "Describe this product for semantic search."
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功レスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultimodalEmbeddingResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/images/generations": {
      "post": {
        "tags": [
          "Images"
        ],
        "summary": "画像の作成",
        "description": "プロンプトに基づいて画像を作成します。",
        "operationId": "createImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageGenerationRequest"
              },
              "examples": {
                "basic": {
                  "summary": "基本的な画像生成",
                  "value": {
                    "model": "gpt-image-2",
                    "prompt": "A white cat sitting on a rainy windowsill",
                    "size": "1024x1024",
                    "quality": "auto"
                  }
                },
                "high_quality": {
                  "summary": "高品質な画像",
                  "value": {
                    "model": "gpt-image-2",
                    "prompt": "A cinematic product photo of matte black headphones on a glass desk",
                    "size": "1536x1024",
                    "quality": "high"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ImageGenerationMultipartRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功レスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/images/{id}": {
      "get": {
        "tags": [
          "Images"
        ],
        "summary": "画像タスクステータスの取得",
        "description": "`ldtask_...` などの公開非同期画像タスクIDをポーリングするための互換性エイリアスです。作成レスポンスで返される `poll_url` を優先するか、正規の固定ステータスエンドポイントとして `/v1/tasks/{id}` を使用してください。このルートは、画像固有のステータスハンドラーと同じ認証、所有権チェック、請求ヘッダー、ターミナルスナップショット、およびレスポンス形式を使用します。",
        "operationId": "getImageTaskStatusAlias",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "`id` / `task_id` によって返される、または `poll_url` に埋め込まれた公開非同期画像タスクID。",
            "schema": {
              "type": "string",
              "pattern": "^ldtask_[0-9a-fA-F]{32}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "画像タスクステータス",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "task_id": {
                      "type": "string"
                    },
                    "poll_url": {
                      "type": "string"
                    },
                    "created": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "processing",
                        "completed",
                        "failed"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "error": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "現在のAPIキーではタスクを利用できません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "タスクが見つからないか、利用できなくなっています",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/audio/speech": {
      "post": {
        "tags": [
          "Audio"
        ],
        "summary": "音声の作成",
        "description": "入力テキストから音声を生成します (Text-to-Speech)。",
        "operationId": "createSpeech",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudioSpeechRequest"
              },
              "examples": {
                "basic": {
                  "summary": "基本的なTTS",
                  "value": {
                    "model": "tts-1",
                    "input": "Hello, welcome to TokenLab!",
                    "voice": "alloy"
                  }
                },
                "hd": {
                  "summary": "HD品質のTTS",
                  "value": {
                    "model": "tts-1-hd",
                    "input": "This is high quality speech synthesis.",
                    "voice": "nova",
                    "response_format": "mp3",
                    "speed": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "オーディオファイル",
            "content": {
              "audio/mpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/opus": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/aac": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/flac": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/audio/transcriptions": {
      "post": {
        "tags": [
          "Audio"
        ],
        "summary": "文字起こしの作成",
        "description": "音声をテキストに変換します (Speech-to-Text)。",
        "operationId": "createTranscription",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AudioTranscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功レスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudioTranscriptionResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/videos/generations": {
      "post": {
        "tags": [
          "Video"
        ],
        "summary": "動画生成タスクの作成",
        "description": "非同期の動画生成タスクを作成します。レスポンスは正規のタスクIDと、通常は推奨される `poll_url` を返します。クライアントはまず `poll_url` をポーリングするか、固定ステータスエンドポイントとして `/v1/tasks/{id}` を使用する必要があります。",
        "operationId": "createVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoGenerationRequest"
              },
              "examples": {
                "text_to_video": {
                  "summary": "Text-to-Video",
                  "value": {
                    "model": "veo3.1",
                    "prompt": "A cinematic shot of a golden retriever running through a field of sunflowers",
                    "duration": 5,
                    "aspect_ratio": "16:9"
                  }
                },
                "image_to_video": {
                  "summary": "Image-to-Video",
                  "value": {
                    "model": "hailuo-2.3-standard",
                    "prompt": "Make this image come alive with gentle movement",
                    "operation": "image-to-video",
                    "image_url": "https://example.com/image.jpg",
                    "duration": 6
                  }
                },
                "reference_to_video": {
                  "summary": "Reference-to-Video",
                  "value": {
                    "model": "veo3.1",
                    "prompt": "Keep the same subject identity and palette while adding subtle motion",
                    "operation": "reference-to-video",
                    "reference_images": [
                      "https://example.com/ref-a.jpg"
                    ],
                    "duration": 8,
                    "aspect_ratio": "9:16",
                    "resolution": "720p"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "タスクが正常に作成されました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "409": {
            "description": "Seedance素材は準備中です",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "message": "Seedance material is still preparing. Please retry after it becomes ACTIVE.",
                    "type": "invalid_request_error",
                    "code": "seedance_material_preparing",
                    "param": "material_asset_id",
                    "auto_material_asset_ids": [
                      "asset-20260720123456-auto1"
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/videos/generations/{id}": {
      "get": {
        "tags": [
          "Video"
        ],
        "summary": "動画タスクステータスの取得",
        "description": "動画生成タスクのステータスと結果を取得します。新規クライアントは、作成レスポンスで返される `poll_url` を優先するか、正規の固定ステータスエンドポイントとして `/v1/tasks/{id}` を使用してください。`/v1/videos/generations/{id}` パスは後方互換性のために残されています。",
        "operationId": "getVideoTask",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "`id` / `task_id` によって返される、または `poll_url` に埋め込まれた非同期タスクID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "タスクステータス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "タスクが見つかりません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/videos/assets": {
      "post": {
        "tags": [
          "Video"
        ],
        "summary": "Seedance素材アセットの作成",
        "description": "1つのSeedance素材アセットURLをTokenLab素材グループにアップロードします。画像素材はサポートされている寸法を使用する必要があります。無効なソースは、PROCESSING状態のままにならず、400 seedance_material_source_invalid で拒否されます。実在の人物のアセットには、GetVisualValidateResult で返される Result.GroupId からマッピングされた group_id が必要です。",
        "operationId": "createSeedanceMaterialAsset",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceMaterialAssetCreateRequest"
              },
              "examples": {
                "virtual_avatar_asset": {
                  "summary": "バーチャルアバター素材アセットの作成",
                  "value": {
                    "asset_url": "https://example.com/reference.png",
                    "asset_name": "Front view",
                    "asset_type": "Image",
                    "library_type": "aigc_avatar",
                    "group_id": "group-20260720123456-vrt01"
                  }
                },
                "real_person_asset": {
                  "summary": "実在の人物素材アセットの作成",
                  "value": {
                    "asset_url": "https://example.com/verified-person-closeup.jpg",
                    "asset_name": "Creator A close-up",
                    "asset_type": "Image",
                    "library_type": "liveness_face",
                    "group_id": "group-20260720123456-real1"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "素材アセットが作成されました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceMaterialAsset"
                },
                "examples": {
                  "asset_created": {
                    "summary": "素材アセットが処理のために受け付けられました",
                    "value": {
                      "id": "asset-20260720123456-qn7wr",
                      "object": "seedance.material_asset",
                      "group_id": "group-20260720123456-vrt01",
                      "library_type": "aigc_avatar",
                      "asset_name": "Front view",
                      "asset_type": "Image",
                      "status": "PROCESSING",
                      "ready": false,
                      "error_message": null,
                      "metadata": null,
                      "created_at": 1782998400000
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "description": "素材アセットのマッピング競合",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/MaterialLibraryUnavailable"
          }
        }
      },
      "get": {
        "tags": [
          "Video"
        ],
        "summary": "Seedance素材アセットの一覧表示",
        "description": "認証された組織が所有するSeedance素材アセットを一覧表示します。生成ワークフローの素材を見つけるには、library_type、group_id、およびstatusフィルターを使用してください。",
        "operationId": "listSeedanceMaterialAssets",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "TokenLab素材アセットグループIDでフィルタリングします。"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PROCESSING",
                "ACTIVE",
                "FAILED",
                "DELETED"
              ]
            }
          },
          {
            "name": "library_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "aigc_avatar",
                "liveness_face"
              ]
            },
            "description": "素材ライブラリクラスでフィルタリングします。"
          },
          {
            "name": "project_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "default": "default"
            },
            "description": "素材リソースのプロジェクトスコープ。"
          }
        ],
        "responses": {
          "200": {
            "description": "素材アセット",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceMaterialAssetList"
                },
                "examples": {
                  "assets": {
                    "summary": "素材アセット",
                    "value": {
                      "assets": [
                        {
                          "id": "asset-20260720123456-qn7wr",
                          "object": "seedance.material_asset",
                          "group_id": "group-20260720123456-vrt01",
                          "library_type": "aigc_avatar",
                          "asset_name": "Front view",
                          "asset_type": "Image",
                          "status": "ACTIVE",
                          "ready": true,
                          "error_message": null,
                          "metadata": null,
                          "created_at": 1782998400000
                        }
                      ],
                      "next_page_token": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/videos/assets/{assetId}": {
      "get": {
        "tags": [
          "Video"
        ],
        "summary": "Seedance素材アセットの取得",
        "description": "1つのTokenLab Seedance素材アセットとその非同期取り込みステータスを取得します。",
        "operationId": "getSeedanceMaterialAsset",
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "asset-20260720123456-qn7wr"
          },
          {
            "name": "project_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "default": "default"
            },
            "description": "素材リソースのプロジェクトスコープ。"
          }
        ],
        "responses": {
          "200": {
            "description": "素材アセット",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceMaterialAsset"
                },
                "examples": {
                  "asset": {
                    "summary": "素材アセット",
                    "value": {
                      "id": "asset-20260720123456-qn7wr",
                      "object": "seedance.material_asset",
                      "group_id": "group-20260720123456-vrt01",
                      "library_type": "aigc_avatar",
                      "asset_name": "Front view",
                      "asset_type": "Image",
                      "status": "ACTIVE",
                      "ready": true,
                      "error_message": null,
                      "metadata": null,
                      "created_at": 1782998400000
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/MaterialLibraryUnavailable"
          }
        }
      },
      "put": {
        "tags": [
          "Video"
        ],
        "operationId": "updateSeedanceMaterialAsset",
        "summary": "Seedance素材アセットの更新",
        "description": "認証された組織が所有するSeedance素材アセットを更新します。",
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "description": "TokenLab素材アセットID。",
            "schema": {
              "type": "string"
            },
            "example": "asset-20260720123456-qn7wr"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceMaterialAssetUpdateRequest"
              },
              "examples": {
                "update_asset": {
                  "summary": "アセットメタデータの更新",
                  "value": {
                    "asset_name": "Front view approved",
                    "metadata": {
                      "approved_by": "creative-team"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "素材アセットが更新されました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceMaterialAsset"
                },
                "examples": {
                  "asset_updated": {
                    "summary": "素材アセットが更新されました",
                    "value": {
                      "id": "asset-20260720123456-qn7wr",
                      "object": "seedance.material_asset",
                      "group_id": "group-20260720123456-vrt01",
                      "library_type": "aigc_avatar",
                      "asset_name": "Front view approved",
                      "asset_type": "Image",
                      "status": "ACTIVE",
                      "ready": true,
                      "error_message": null,
                      "metadata": {
                        "approved_by": "creative-team"
                      },
                      "created_at": 1782998400000
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "素材アセットは処理中であるか、アクティブなレプリカなしで失敗しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "保存された素材ソースが永続的な検証に失敗しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "message": "Image width must be between 300px and 6000px.",
                    "type": "invalid_request_error",
                    "code": "seedance_material_source_invalid",
                    "param": "asset_url"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/MaterialLibraryUnavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Video"
        ],
        "summary": "Seedance素材アセットの削除",
        "description": "認証された組織が所有するSeedance素材アセットを削除します。",
        "operationId": "deleteSeedanceMaterialAsset",
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "asset-20260720123456-qn7wr"
          },
          {
            "name": "project_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "default": "default"
            },
            "description": "素材リソースのプロジェクトスコープ。"
          }
        ],
        "responses": {
          "200": {
            "description": "素材アセットが削除されました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceMaterialAssetDeleteResponse"
                },
                "examples": {
                  "asset_deleted": {
                    "summary": "素材アセットが削除されました",
                    "value": {
                      "deleted": true,
                      "id": "asset-20260720123456-qn7wr"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/MaterialLibraryUnavailable"
          }
        }
      }
    },
    "/v1/tasks/{id}": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "非同期タスクステータスの取得",
        "description": "非同期生成タスクのステータスと結果を取得します。作成レスポンスで返される `poll_url` を優先してください。`/v1/tasks/{id}` は、動画、音楽、3Dジョブの正規の固定ステータスエンドポイントです。",
        "operationId": "getAsyncTask",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "`id` / `task_id` によって返される、または `poll_url` に埋め込まれた非同期タスクID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "タスクステータス (タスクタイプ固有のフィールドが含まれる場合があります)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "現在のAPIキーではタスクを利用できません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Tasks"
        ],
        "summary": "非同期タスクのキャンセル",
        "description": "選択したタスクでキャンセルがサポートされている場合に、キューに入れられた非同期タスクをキャンセルします。キャンセルは現在、実行待ち状態のキューに入れられたSeedance動画タスク (`seedance-1.5-pro`、`seedance-2.0`、および `seedance-2.0-fast`) をサポートしています。すでに処理中、完了、失敗、期限切れ、またはサポートされていないタスクはキャンセルされません。",
        "operationId": "cancelAsyncTask",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "`id` / `task_id` によって返される、または `poll_url` に埋め込まれた非同期タスクID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "タスクがキャンセルされました。タスクは引き続きクエリ可能であり、既存の非同期タスクステータス値との互換性のために `cancelled: true` を含む `failed` として表現されます。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                },
                "example": {
                  "id": "ldtask_aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                  "task_id": "ldtask_aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                  "poll_url": "/v1/tasks/ldtask_aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                  "status": "failed",
                  "cancelled": true,
                  "cancellation_status": "cancelled",
                  "error": "Task cancelled before execution"
                }
              }
            }
          },
          "400": {
            "description": "タスクタイプ、プロバイダー、またはモデルがキャンセルをサポートしていません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "現在のAPIキーではタスクを利用できません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "タスクが見つかりません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "タスクはすでに処理中であるか終了しているため、キャンセルできません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/models": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "モデルの一覧表示",
        "description": "現在利用可能なモデルを一覧表示します。モデル選択には `view=compact` を、既存のOpenAI互換の検出形式には `view=full` を使用してください。ネイティブAPI呼び出しはデフォルトで `full` になります。統合ではデフォルトとして `compact` を選択できます。チャット以外の推奨事項は `recommended_for` を通じて利用可能です。",
        "operationId": "listModels",
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "required": false,
            "description": "公開モデルプロバイダー（openai、anthropic、google、minimaxなど）でフィルタリングします。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "description": "公開機能タグでフィルタリングします。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "モデルカテゴリでフィルタリングします。",
            "schema": {
              "type": "string",
              "enum": [
                "chat",
                "embedding",
                "translation",
                "image",
                "video",
                "audio",
                "tts",
                "stt",
                "rerank",
                "3d",
                "music"
              ]
            }
          },
          {
            "name": "recommended_for",
            "in": "query",
            "required": false,
            "description": "タスクカテゴリのサポートされている非チャットモデルを並べ替え、推奨エビデンスを含めます。",
            "schema": {
              "type": "string",
              "enum": [
                "image",
                "video",
                "music",
                "3d",
                "tts",
                "stt",
                "embedding",
                "rerank",
                "translation"
              ]
            }
          },
          {
            "name": "view",
            "in": "query",
            "required": false,
            "description": "コンパクトなモデル選択フィールドか、完全なOpenAI互換リスト形式かを選択します。",
            "schema": {
              "type": "string",
              "enum": [
                "compact",
                "full"
              ],
              "default": "full"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "モデルの一覧",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ModelsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/CompactModelsResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/models/{model}": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "モデルの取得",
        "description": "サポートされている操作、リクエストパラメータ、リクエストエンドポイント、セレクター制限、および利用可能な場合の価格を含む、現在のモデルの詳細を取得します。チャット以外の統合では、リクエストを作成する前に、これらのモデル固有の現在のリクエスト詳細を読み取る必要があります。",
        "operationId": "getModel",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "モデルID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "モデル情報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "モデルが見つかりません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/messages": {
      "post": {
        "tags": [
          "Anthropic"
        ],
        "summary": "メッセージを作成 (Anthropic互換)",
        "description": "Anthropicのネイティブなリクエスト形式を使用してモデルレスポンスを作成します。ビジョンおよびストリーミングに対応したClaudeモデルをサポートしています。\n\n**認証:** `x-api-key` ヘッダーまたは `Authorization: Bearer` ヘッダーを使用してください。",
        "operationId": "createAnthropicMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnthropicMessagesRequest"
              },
              "examples": {
                "basic": {
                  "summary": "基本メッセージ",
                  "value": {
                    "model": "claude-sonnet-4-6",
                    "max_tokens": 1024,
                    "messages": [
                      {
                        "role": "user",
                        "content": "Hello, Claude!"
                      }
                    ]
                  }
                },
                "with_system": {
                  "summary": "システムプロンプト付き",
                  "value": {
                    "model": "claude-sonnet-4-6",
                    "max_tokens": 1024,
                    "system": "You are a helpful assistant.",
                    "messages": [
                      {
                        "role": "user",
                        "content": "What is 2+2?"
                      }
                    ]
                  }
                },
                "streaming": {
                  "summary": "ストリーミングレスポンス",
                  "value": {
                    "model": "claude-sonnet-4-6",
                    "max_tokens": 1024,
                    "stream": true,
                    "messages": [
                      {
                        "role": "user",
                        "content": "Tell me a story"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功レスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicMessagesResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "message_start、content_block_delta、message_stopイベントを含むAnthropic形式のSSEストリーム"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/messages/count_tokens": {
      "post": {
        "tags": [
          "Anthropic"
        ],
        "summary": "メッセージトークンをカウント (Anthropic互換)",
        "description": "モデルレスポンスを作成せずに、Anthropic互換のメッセージリクエストの入力トークンをカウントします。認証が必要ですが、この操作は課金対象外です。",
        "operationId": "countAnthropicMessageTokens",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnthropicCountTokensRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "トークンカウントレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicCountTokensResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/messages/batches": {
      "post": {
        "tags": [
          "Anthropic"
        ],
        "summary": "メッセージバッチを作成 (Anthropic互換)",
        "description": "ネイティブなAnthropicメッセージバッチを作成します。リクエストには /v1/messages と同じAnthropicメッセージパラメータを使用します。",
        "operationId": "createAnthropicMessageBatch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnthropicMessageBatchCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "作成されたメッセージバッチ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicMessageBatch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      },
      "get": {
        "tags": [
          "Anthropic"
        ],
        "summary": "メッセージバッチを一覧表示 (Anthropic互換)",
        "description": "認証された組織のネイティブなAnthropicメッセージバッチを一覧表示します。",
        "operationId": "listAnthropicMessageBatches",
        "parameters": [
          {
            "name": "before_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "このバッチIDより前のバッチを返す"
          },
          {
            "name": "after_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "このバッチIDより後のバッチを返す"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 20
            },
            "description": "返すバッチの最大数"
          }
        ],
        "responses": {
          "200": {
            "description": "メッセージバッチリスト",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicMessageBatchListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/messages/batches/{message_batch_id}": {
      "get": {
        "tags": [
          "Anthropic"
        ],
        "summary": "メッセージバッチを取得 (Anthropic互換)",
        "description": "ネイティブなAnthropicメッセージバッチのステータスとメタデータを取得します。",
        "operationId": "retrieveAnthropicMessageBatch",
        "parameters": [
          {
            "name": "message_batch_id",
            "in": "path",
            "required": true,
            "description": "Anthropicメッセージバッチ識別子",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "メッセージバッチ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicMessageBatch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      },
      "delete": {
        "tags": [
          "Anthropic"
        ],
        "summary": "メッセージバッチを削除 (Anthropic互換)",
        "description": "プロバイダーが削除をサポートしている場合に、ネイティブなAnthropicメッセージバッチを削除します。",
        "operationId": "deleteAnthropicMessageBatch",
        "parameters": [
          {
            "name": "message_batch_id",
            "in": "path",
            "required": true,
            "description": "Anthropicメッセージバッチ識別子",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "削除されたメッセージバッチ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicDeletedMessageBatch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/messages/batches/{message_batch_id}/results": {
      "get": {
        "tags": [
          "Anthropic"
        ],
        "summary": "メッセージバッチ結果を取得 (Anthropic互換)",
        "description": "完了したネイティブなAnthropicメッセージバッチのJSONL結果をダウンロードします。",
        "operationId": "retrieveAnthropicMessageBatchResults",
        "parameters": [
          {
            "name": "message_batch_id",
            "in": "path",
            "required": true,
            "description": "Anthropicメッセージバッチ識別子",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSONL形式のメッセージバッチ結果",
            "content": {
              "application/x-jsonl": {
                "schema": {
                  "type": "string",
                  "description": "改行区切りのJSON結果レコード"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "改行区切りのJSON結果レコード"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/messages/batches/{message_batch_id}/cancel": {
      "post": {
        "tags": [
          "Anthropic"
        ],
        "summary": "メッセージバッチをキャンセル (Anthropic互換)",
        "description": "プロバイダーがキャンセルを許可している場合に、ネイティブなAnthropicメッセージバッチをキャンセルします。",
        "operationId": "cancelAnthropicMessageBatch",
        "parameters": [
          {
            "name": "message_batch_id",
            "in": "path",
            "required": true,
            "description": "Anthropicメッセージバッチ識別子",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "キャンセルされたメッセージバッチ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicMessageBatch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1beta/models/{model}:generateContent": {
      "post": {
        "tags": [
          "Gemini"
        ],
        "summary": "コンテンツを生成 (Gemini互換)",
        "description": "ネイティブなGemini GenerateContent形式を使用してコンテンツを生成します。このルートは、モデル詳細でGeminiリクエストが通知され、かつ同一プロトコルのルートが現在利用可能な場合にのみ公開されます。ProtoJSONのlowerCamelCaseおよび元のprotoのsnake_caseフィールド名は保持されます。不明なフィールドはベストエフォートで転送され、サポート状況は選択されたプロバイダーによって決定されます。\n\n**認証:** `?key=` クエリパラメータ、 `x-goog-api-key` ヘッダー、または `Authorization: Bearer` ヘッダーを使用してください。",
        "operationId": "geminiGenerateContent",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          },
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "モデル名 (例: gemini-2.5-pro)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "description": "APIキー (ヘッダー認証の代替)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeminiRequest"
              },
              "examples": {
                "basic": {
                  "summary": "基本テキスト生成",
                  "value": {
                    "contents": [
                      {
                        "parts": [
                          {
                            "text": "Hello, Gemini!"
                          }
                        ]
                      }
                    ]
                  }
                },
                "with_config": {
                  "summary": "生成設定付き",
                  "value": {
                    "contents": [
                      {
                        "parts": [
                          {
                            "text": "Explain quantum computing"
                          }
                        ]
                      }
                    ],
                    "generationConfig": {
                      "temperature": 0.7,
                      "maxOutputTokens": 1024
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功レスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Geminiネイティブの無効なリクエストエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Geminiネイティブの認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Geminiネイティブの支払いエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Geminiネイティブのサーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        }
      }
    },
    "/v1beta/models/{model}:streamGenerateContent": {
      "post": {
        "tags": [
          "Gemini"
        ],
        "summary": "コンテンツ生成をストリーミング (Gemini互換)",
        "description": "Chat Completionsのターミネーターを追加せずに、ネイティブなGemini GenerateContentのServer-Sent Eventsをストリーミングします。メタデータのみのチャンク、finishReasonのない中間チャンク、および自然なEOFは有効です。\n\n**認証:** `?key=` クエリパラメータ、 `x-goog-api-key` ヘッダー、または `Authorization: Bearer` ヘッダーを使用してください。",
        "operationId": "geminiStreamGenerateContent",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          },
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "モデル名 (例: gemini-2.5-pro)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "description": "APIキー (ヘッダー認証の代替)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeminiRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ストリーミングレスポンス",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Geminiレスポンスチャンクを含むSSEストリーム"
                }
              }
            }
          },
          "400": {
            "description": "Geminiネイティブの無効なリクエストエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Geminiネイティブの認証エラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Geminiネイティブの支払いエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Geminiネイティブのサーバーエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        }
      }
    },
    "/v1beta/models/{model}:countTokens": {
      "post": {
        "tags": [
          "Gemini"
        ],
        "summary": "トークンをカウント (Gemini互換)",
        "description": "ネイティブなGemini CountTokensコントラクトを使用してトークンをカウントします。不明なフィールドおよび公式のProtoJSONフィールド名のスペルはベストエフォートで転送されます。",
        "operationId": "geminiCountTokens",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "generateContentRequest": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "generate_content_request": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Geminiネイティブのトークンカウントレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Geminiネイティブのエラーレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/models/{model}:embedContent": {
      "post": {
        "tags": [
          "Gemini"
        ],
        "summary": "コンテンツを埋め込み (Gemini互換)",
        "description": "ネイティブなGemini EmbedContentコントラクトを使用して埋め込みを作成します。",
        "operationId": "geminiEmbedContent",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          },
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "content"
                ],
                "properties": {
                  "content": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "taskType": {
                    "type": "string"
                  },
                  "task_type": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "outputDimensionality": {
                    "type": "integer"
                  },
                  "output_dimensionality": {
                    "type": "integer"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Geminiネイティブの埋め込みレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Geminiネイティブのエラーレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        }
      }
    },
    "/v1beta/models/{model}:batchEmbedContents": {
      "post": {
        "tags": [
          "Gemini"
        ],
        "summary": "コンテンツをバッチ埋め込み (Gemini互換)",
        "description": "ネイティブなGemini BatchEmbedContentsコントラクトを使用して複数の埋め込みを作成します。",
        "operationId": "geminiBatchEmbedContents",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          },
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "requests"
                ],
                "properties": {
                  "requests": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Geminiネイティブのバッチ埋め込みレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Geminiネイティブのエラーレスポンス",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        }
      }
    },
    "/v1/responses": {
      "post": {
        "tags": [
          "Responses"
        ],
        "summary": "レスポンスを作成 (OpenAI Responses API)",
        "description": "ネイティブなOpenAI Responses API形式を使用してレスポンスを作成します。モデル詳細でResponsesリクエスト形式が通知されており、かつ同一プロトコルのルートが現在利用可能である必要があります。モデル名やプロバイダーは可用性を保証するものではありません。不明なリクエストフィールドはベストエフォートで転送され、選択されたプロバイダーのサポート状況に依存します。",
        "operationId": "createResponse",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "使用するモデル"
                  },
                  "input": {
                    "oneOf": [
                      {
                        "type": "string",
                        "description": "単一の文字列入力。"
                      },
                      {
                        "type": "array",
                        "description": "会話用の構造化された入力アイテム。"
                      }
                    ],
                    "description": "文字列または構造化アイテム配列としての入力コンテンツ。"
                  },
                  "instructions": {
                    "type": "string",
                    "description": "システム指示"
                  },
                  "max_output_tokens": {
                    "type": "integer",
                    "description": "最大出力トークン数"
                  },
                  "temperature": {
                    "type": "number"
                  },
                  "stream": {
                    "type": "boolean"
                  },
                  "tools": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "モデルが利用可能なツール。ツールタイプと組み合わせは、選択されたサービスによって検証されます。"
                  },
                  "tool_choice": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "object",
                        "additionalProperties": true
                      }
                    ],
                    "description": "ツール選択ポリシーまたは明示的なツール選択。"
                  },
                  "stream_options": {
                    "type": "object",
                    "properties": {
                      "include_obfuscation": {
                        "type": "boolean",
                        "description": "trueの場合、互換性のあるアップストリームからのResponsesストリームイベントで難読化されたトークンをリクエストします。"
                      }
                    },
                    "additionalProperties": true,
                    "description": "Responsesストリーミングオプション。"
                  },
                  "include": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "サポートされている場合に追加するレスポンスセクション。"
                  },
                  "service_tier": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "互換性のあるプロバイダー向けのサービスティアヒント。"
                  },
                  "truncation": {
                    "type": "string",
                    "description": "長い会話のための切り捨て戦略。"
                  },
                  "background": {
                    "type": "boolean",
                    "description": "レスポンスを非同期で実行するかどうか。"
                  },
                  "previous_response_id": {
                    "type": "string",
                    "description": "継続する以前のレスポンスのID。"
                  },
                  "prompt": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "再利用可能なプロンプトテンプレートと変数への参照。"
                  },
                  "store": {
                    "type": "boolean",
                    "description": "レスポンスを後で取得するために保存するかどうか。"
                  },
                  "reasoning": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "推論設定。"
                  },
                  "top_p": {
                    "type": "number",
                    "description": "核サンプリング確率。"
                  },
                  "parallel_tool_calls": {
                    "type": "boolean",
                    "description": "モデルが並列ツール呼び出しを発行できるかどうか。"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "リクエストメタデータ。"
                  },
                  "text": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "テキストフォーマットオプション。"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功レスポンス"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/responses/{id}": {
      "get": {
        "tags": [
          "Responses"
        ],
        "summary": "レスポンスを取得",
        "description": "TokenLabレスポンスIDによって保存されたResponses APIレスポンスを取得します。所有権チェックにより、レスポンスが見つからない場合、または現在のAPIキーで利用できない場合は404が返されます。",
        "operationId": "retrieveResponse",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "POST /v1/responses によって返されたレスポンスID。"
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "追加で含めるレスポンスフィールド。"
          },
          {
            "name": "include_obfuscation",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "ストリーミングイベントに難読化フィールドを含めるかどうか。"
          },
          {
            "name": "stream",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "レスポンスをイベントストリームとして取得するかどうか。"
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "ストリーミングイベントを返す開始シーケンス番号。"
          }
        ],
        "responses": {
          "200": {
            "description": "保存されたレスポンス"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Responses"
        ],
        "summary": "レスポンスを削除",
        "description": "保存されたResponses APIレスポンスを削除します。この操作は削除であり、進行中のレスポンスのキャンセルではありません。",
        "operationId": "deleteResponse",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "POST /v1/responses によって返されたレスポンスID。"
          }
        ],
        "responses": {
          "200": {
            "description": "削除されたレスポンス"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/responses/compact": {
      "post": {
        "tags": [
          "Responses"
        ],
        "summary": "レスポンスコンテキストを圧縮 (OpenAI Responses API)",
        "description": "Responses入力を圧縮し、ネイティブな `response.compaction` コントラクトを返します。リクエストモデルは、同一プロトコルのResponsesパスで利用可能である必要があります。",
        "operationId": "compactResponse",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "input"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "圧縮に使用するモデル。Codex CLIは現在のセッションモデルを送信します。"
                  },
                  "input": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "description": "圧縮するResponses入力アイテム。"
                      }
                    ],
                    "description": "圧縮する会話入力。"
                  },
                  "max_output_tokens": {
                    "type": "integer",
                    "description": "最大出力トークン数。"
                  },
                  "stream": {
                    "type": "boolean",
                    "description": "圧縮ではストリーミングはサポートされていません。"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "リクエストメタデータ。"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "圧縮成功レスポンス"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/rerank": {
      "post": {
        "tags": [
          "Embeddings"
        ],
        "summary": "ドキュメントを再ランク付け",
        "description": "意味的類似性を使用して、クエリに対する関連性に基づいてドキュメントを再ランク付けします。",
        "operationId": "rerankDocuments",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "query",
                  "documents"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "使用するリランカーモデル"
                  },
                  "query": {
                    "type": "string",
                    "description": "ランク付けの基準となるクエリ"
                  },
                  "documents": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "再ランク付け対象のドキュメント"
                  },
                  "top_n": {
                    "type": "integer",
                    "description": "返却する結果の数"
                  },
                  "return_documents": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ランク付けされた結果",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "results",
                    "model"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "model": {
                      "type": "string"
                    },
                    "usage": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/music/generations": {
      "post": {
        "tags": [
          "Audio"
        ],
        "summary": "音楽生成タスクの作成",
        "description": "Sunoを使用して音楽生成タスクを作成します。ポーリング用のタスクIDを返します。",
        "operationId": "createMusic",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "default": "suno_music"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "音楽のディスクリプション。music、lyrics、upload-cover、upload-extendのリクエストには必須です。add-instrumentalの場合は省略してください。"
                  },
                  "title": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "string"
                  },
                  "negative_tags": {
                    "type": "string",
                    "description": "除外するスタイル。audio_operationがadd-instrumentalの場合に必須です。"
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "MUSIC",
                      "LYRICS"
                    ]
                  },
                  "mv": {
                    "type": "string",
                    "enum": [
                      "chirp-v3-5",
                      "chirp-v4",
                      "chirp-v4-5",
                      "chirp-v4.5",
                      "chirp-v4-5plus",
                      "chirp-v4.5plus",
                      "chirp-v4-5all",
                      "chirp-v4.5all",
                      "chirp-v5",
                      "chirp-v5-5",
                      "chirp-v5.5"
                    ],
                    "description": "公式のSunoモデルバージョン。音楽作成時（アクションが省略されているかMUSICの場合）に必須です。歌詞のみのリクエストでは省略してください。"
                  },
                  "make_instrumental": {
                    "type": "boolean",
                    "description": "ボーカルなしのインストゥルメンタル出力を生成します。"
                  },
                  "audio_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "公開アクセス可能な参照用またはアップロード済みのオーディオURL。audio_operationが省略された場合、デフォルトでupload-coverとして扱われます。"
                  },
                  "audio_operation": {
                    "type": "string",
                    "enum": [
                      "upload-cover",
                      "upload-extend",
                      "add-instrumental"
                    ],
                    "description": "アップロードオーディオモード。upload-extendにはcontinue_atが必要です。add-instrumentalにはaudio_url、title、tags、negative_tagsが必要です。"
                  },
                  "continue_clip_id": {
                    "type": "string",
                    "description": "既存の生成を延長する際のクリップID。"
                  },
                  "continue_at": {
                    "type": "number",
                    "description": "継続フローのためのタイムスタンプ（秒単位）。audio_operationがupload-extendの場合に必須です。"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "タスクが作成されました"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/music/generations/{id}": {
      "get": {
        "tags": [
          "Audio"
        ],
        "summary": "音楽タスクのステータス取得",
        "description": "音楽生成タスクのステータスと結果を取得します。",
        "operationId": "getMusicTask",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "タスクステータス"
          },
          "404": {
            "description": "タスクが見つかりません"
          }
        }
      }
    },
    "/v1/3d/generations": {
      "post": {
        "tags": [
          "Video"
        ],
        "summary": "3Dモデル生成タスクの作成",
        "description": "Tripo3Dを使用して3Dモデル生成タスクを作成します。ポーリング用のタスクIDを返します。",
        "operationId": "create3D",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "default": "tripo-h3.1"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "3Dモデルのディスクリプション"
                  },
                  "image": {
                    "type": "string",
                    "description": "Image-to-3D用のBase64画像"
                  },
                  "image_url": {
                    "type": "string"
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "glb",
                      "fbx",
                      "obj",
                      "usdz"
                    ]
                  },
                  "quality": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "standard",
                      "high"
                    ]
                  },
                  "style": {
                    "type": "string",
                    "description": "互換性のある3Dモデルファミリーのスタイルヒント。"
                  },
                  "seed": {
                    "type": "integer",
                    "description": "決定論的互換プロバイダー用のシード値。"
                  },
                  "user": {
                    "type": "string",
                    "description": "エンドユーザー識別子。"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "タスクが作成されました"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/3d/generations/{id}": {
      "get": {
        "tags": [
          "Video"
        ],
        "summary": "3Dタスクのステータス取得",
        "description": "3D生成タスクのステータスと結果を取得します。",
        "operationId": "get3DTask",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "タスクステータス"
          },
          "404": {
            "description": "タスクが見つかりません"
          }
        }
      }
    },
    "/v1/management/balance": {
      "get": {
        "tags": [
          "Management"
        ],
        "summary": "組織残高の取得",
        "description": "認証された管理トークンに対する現在の組織残高合計を返します。",
        "operationId": "getManagementBalance",
        "security": [
          {
            "ManagementTokenAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "組織残高合計",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManagementBalanceResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-mint": {
          "metadata": {
[...]
