{
  "openapi": "3.1.0",
  "info": {
    "title": "TokenLab AI Gateway",
    "description": "Saldo da organização, gerenciamento de API key e uso/faturamento por chave via management token",
    "version": "1.0.0",
    "termsOfService": "https://tokenlab.sh/tos",
    "contact": {
      "name": "Technical Support",
      "email": "support@tokenlab.sh"
    }
  },
  "servers": [
    {
      "url": "https://api.tokenlab.sh",
      "description": "Servidor de produção"
    }
  ],
  "tags": [
    {
      "name": "Chat",
      "description": "API de chat completions (compatível com OpenAI)"
    },
    {
      "name": "Responses",
      "description": "Endpoints nativos compatíveis com a API de respostas da OpenAI"
    },
    {
      "name": "Embeddings",
      "description": "API de text embeddings"
    },
    {
      "name": "Images",
      "description": "API de geração de imagens"
    },
    {
      "name": "Audio",
      "description": "API de processamento de áudio (TTS e STT)"
    },
    {
      "name": "Video",
      "description": "API de geração de vídeo"
    },
    {
      "name": "Models",
      "description": "Listagem de modelos disponíveis"
    },
    {
      "name": "Anthropic",
      "description": "API de Messages compatível com Anthropic"
    },
    {
      "name": "Gemini",
      "description": "API compatível com Google Gemini"
    },
    {
      "name": "Management",
      "description": "Gerenciamento de API key da organização e uso/faturamento por chave via management token"
    },
    {
      "name": "Files",
      "description": "Upload e recuperação de arquivos em lote (batch)"
    },
    {
      "name": "Batches",
      "description": "Jobs em lote (batch) assíncronos compatíveis com OpenAI"
    },
    {
      "name": "Seedance Volc Compatible",
      "description": "Endpoints de compatibilidade estilo Volc do Seedance 2.0"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "tags": [
          "Chat"
        ],
        "summary": "Criar chat completion",
        "description": "Cria uma resposta de modelo a partir de uma requisição de Chat Completions. Upstreams nativos de chat recebem o formato da requisição inalterado, exceto pelos campos de roteamento e autenticação; campos desconhecidos são encaminhados com base no melhor esforço. Requisições de Chat portáteis podem ser compiladas unidirecionalmente para outro protocolo quando um endpoint físico compatível é selecionado.",
        "operationId": "createChatCompletion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Chat completion básico",
                  "value": {
                    "model": "gpt-4o",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are a helpful assistant."
                      },
                      {
                        "role": "user",
                        "content": "Hello!"
                      }
                    ]
                  }
                },
                "streaming": {
                  "summary": "Resposta via streaming",
                  "value": {
                    "model": "gpt-4o",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Tell me a story"
                      }
                    ],
                    "stream": true
                  }
                },
                "live_translation": {
                  "summary": "Streaming de tradução de áudio",
                  "value": {
                    "model": "qwen3-livetranslate-flash",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "input_audio",
                            "input_audio": {
                              "data": "https://example.com/sample.wav",
                              "format": "wav"
                            }
                          }
                        ]
                      }
                    ],
                    "translation_options": {
                      "source_lang": "zh",
                      "target_lang": "en"
                    },
                    "modalities": [
                      "text"
                    ],
                    "stream": true
                  }
                },
                "function_calling": {
                  "summary": "Function calling",
                  "value": {
                    "model": "gpt-4o",
                    "messages": [
                      {
                        "role": "user",
                        "content": "What's the weather in Tokyo?"
                      }
                    ],
                    "tools": [
                      {
                        "type": "function",
                        "function": {
                          "name": "get_weather",
                          "description": "Obter previsão do tempo para uma localização",
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "location": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "location"
                            ]
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Stream de Server-Sent Events com chunks JSON"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/embeddings": {
      "post": {
        "tags": [
          "Embeddings"
        ],
        "summary": "Criar embeddings",
        "description": "Cria um vetor de embedding representando o texto de entrada.",
        "operationId": "createEmbedding",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddingRequest"
              },
              "examples": {
                "single": {
                  "summary": "Embedding de texto único",
                  "value": {
                    "model": "text-embedding-3-small",
                    "input": "The quick brown fox jumps over the lazy dog"
                  }
                },
                "batch": {
                  "summary": "Embeddings em lote (batch)",
                  "value": {
                    "model": "text-embedding-3-small",
                    "input": [
                      "Hello world",
                      "How are you?"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddingResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/multimodal/embeddings": {
      "post": {
        "tags": [
          "Embeddings"
        ],
        "summary": "Criar embeddings multimodais",
        "description": "Cria embeddings para itens de entrada multimodal. A entrada de texto geralmente está disponível; a entrada de imagem pode exigir a ativação do recurso.",
        "operationId": "createMultimodalEmbedding",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultimodalEmbeddingRequest"
              },
              "examples": {
                "text": {
                  "summary": "Entrada de texto",
                  "value": {
                    "model": "jina-embeddings-v4",
                    "input": {
                      "text": "Describe this product for semantic search."
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultimodalEmbeddingResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/images/generations": {
      "post": {
        "tags": [
          "Images"
        ],
        "summary": "Criar imagem",
        "description": "Cria uma imagem a partir de um prompt.",
        "operationId": "createImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageGenerationRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Geração de imagem básica",
                  "value": {
                    "model": "gpt-image-2",
                    "prompt": "A white cat sitting on a rainy windowsill",
                    "size": "1024x1024",
                    "quality": "auto"
                  }
                },
                "high_quality": {
                  "summary": "Imagem de alta qualidade",
                  "value": {
                    "model": "gpt-image-2",
                    "prompt": "A cinematic product photo of matte black headphones on a glass desk",
                    "size": "1536x1024",
                    "quality": "high"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ImageGenerationMultipartRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/images/{id}": {
      "get": {
        "tags": [
          "Images"
        ],
        "summary": "Obter status da tarefa de imagem",
        "description": "Alias de compatibilidade para consultar IDs de tarefas de imagem assíncronas públicas, como `ldtask_...`. Prefira a `poll_url` retornada pelas respostas de criação ou use `/v1/tasks/{id}` como o endpoint de status fixo canônico. Esta rota utiliza a mesma autorização, verificações de propriedade, cabeçalhos de faturamento, snapshots terminais e formato de resposta que o manipulador de status específico de imagem.",
        "operationId": "getImageTaskStatusAlias",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "O ID da tarefa de imagem assíncrona pública retornado por `id` / `task_id`, ou incorporado na `poll_url`.",
            "schema": {
              "type": "string",
              "pattern": "^ldtask_[0-9a-fA-F]{32}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status da tarefa de imagem",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "task_id": {
                      "type": "string"
                    },
                    "poll_url": {
                      "type": "string"
                    },
                    "created": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "processing",
                        "completed",
                        "failed"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "error": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "additionalProperties": true
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Tarefa não disponível para a API key atual",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Tarefa não encontrada ou não mais disponível",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/audio/speech": {
      "post": {
        "tags": [
          "Audio"
        ],
        "summary": "Criar fala",
        "description": "Gera áudio a partir do texto de entrada (Text-to-Speech).",
        "operationId": "createSpeech",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudioSpeechRequest"
              },
              "examples": {
                "basic": {
                  "summary": "TTS básico",
                  "value": {
                    "model": "tts-1",
                    "input": "Hello, welcome to TokenLab!",
                    "voice": "alloy"
                  }
                },
                "hd": {
                  "summary": "TTS de qualidade HD",
                  "value": {
                    "model": "tts-1-hd",
                    "input": "This is high quality speech synthesis.",
                    "voice": "nova",
                    "response_format": "mp3",
                    "speed": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Arquivo de áudio",
            "content": {
              "audio/mpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/opus": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/aac": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/flac": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/audio/transcriptions": {
      "post": {
        "tags": [
          "Audio"
        ],
        "summary": "Criar transcrição",
        "description": "Transcreve áudio para texto (Speech-to-Text).",
        "operationId": "createTranscription",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AudioTranscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudioTranscriptionResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/videos/generations": {
      "post": {
        "tags": [
          "Video"
        ],
        "summary": "Criar tarefa de geração de vídeo",
        "description": "Cria uma tarefa de geração de vídeo assíncrona. A resposta retorna um ID de tarefa canônico e, geralmente, uma `poll_url` preferencial; os clientes devem consultar a `poll_url` primeiro ou usar `/v1/tasks/{id}` como o endpoint de status fixo.",
        "operationId": "createVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoGenerationRequest"
              },
              "examples": {
                "text_to_video": {
                  "summary": "Text-to-Video",
                  "value": {
                    "model": "veo3.1",
                    "prompt": "A cinematic shot of a golden retriever running through a field of sunflowers",
                    "duration": 5,
                    "aspect_ratio": "16:9"
                  }
                },
                "image_to_video": {
                  "summary": "Image-to-Video",
                  "value": {
                    "model": "hailuo-2.3-standard",
                    "prompt": "Make this image come alive with gentle movement",
                    "operation": "image-to-video",
                    "image_url": "https://example.com/image.jpg",
                    "duration": 6
                  }
                },
                "reference_to_video": {
                  "summary": "Reference-to-Video",
                  "value": {
                    "model": "veo3.1",
                    "prompt": "Keep the same subject identity and palette while adding subtle motion",
                    "operation": "reference-to-video",
                    "reference_images": [
                      "https://example.com/ref-a.jpg"
                    ],
                    "duration": 8,
                    "aspect_ratio": "9:16",
                    "resolution": "720p"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tarefa criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "409": {
            "description": "O material Seedance ainda está sendo preparado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "message": "Seedance material is still preparing. Please retry after it becomes ACTIVE.",
                    "type": "invalid_request_error",
                    "code": "seedance_material_preparing",
                    "param": "material_asset_id",
                    "auto_material_asset_ids": [
                      "asset-20260720123456-auto1"
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/videos/generations/{id}": {
      "get": {
        "tags": [
          "Video"
        ],
        "summary": "Obter status da tarefa de vídeo",
        "description": "Recupera o status e o resultado de uma tarefa de geração de vídeo. Novos clientes devem preferir a `poll_url` retornada pelas respostas de criação ou usar `/v1/tasks/{id}` como o endpoint de status fixo canônico. O caminho `/v1/videos/generations/{id}` permanece para compatibilidade retroativa.",
        "operationId": "getVideoTask",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "O ID da tarefa assíncrona retornado por `id` / `task_id`, ou incorporado na `poll_url`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status da tarefa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Tarefa não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/videos/assets": {
      "post": {
        "tags": [
          "Video"
        ],
        "summary": "Criar ativo de material Seedance",
        "description": "Faz o upload de uma URL de ativo de material Seedance para um grupo de materiais TokenLab. Materiais de imagem devem usar dimensões suportadas; uma fonte inválida é rejeitada com 400 seedance_material_source_invalid em vez de permanecer em PROCESSING. Ativos de pessoas reais exigem o group_id mapeado a partir de Result.GroupId retornado por GetVisualValidateResult.",
        "operationId": "createSeedanceMaterialAsset",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceMaterialAssetCreateRequest"
              },
              "examples": {
                "virtual_avatar_asset": {
                  "summary": "Criar um ativo de material de avatar virtual",
                  "value": {
                    "asset_url": "https://example.com/reference.png",
                    "asset_name": "Front view",
                    "asset_type": "Image",
                    "library_type": "aigc_avatar",
                    "group_id": "group-20260720123456-vrt01"
                  }
                },
                "real_person_asset": {
                  "summary": "Criar um ativo de material de pessoa real",
                  "value": {
                    "asset_url": "https://example.com/verified-person-closeup.jpg",
                    "asset_name": "Creator A close-up",
                    "asset_type": "Image",
                    "library_type": "liveness_face",
                    "group_id": "group-20260720123456-real1"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Ativo de material criado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceMaterialAsset"
                },
                "examples": {
                  "asset_created": {
                    "summary": "Ativo de material aceito para processamento",
                    "value": {
                      "id": "asset-20260720123456-qn7wr",
                      "object": "seedance.material_asset",
                      "group_id": "group-20260720123456-vrt01",
                      "library_type": "aigc_avatar",
                      "asset_name": "Front view",
                      "asset_type": "Image",
                      "status": "PROCESSING",
                      "ready": false,
                      "error_message": null,
                      "metadata": null,
                      "created_at": 1782998400000
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "description": "Conflito de mapeamento de ativo de material",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/MaterialLibraryUnavailable"
          }
        }
      },
      "get": {
        "tags": [
          "Video"
        ],
        "summary": "Listar ativos de material Seedance",
        "description": "Lista os ativos de material Seedance pertencentes à organização autenticada. Use os filtros library_type, group_id e status para encontrar ativos para um fluxo de trabalho de geração.",
        "operationId": "listSeedanceMaterialAssets",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filtrar pelo ID do grupo de ativos de material TokenLab."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PROCESSING",
                "ACTIVE",
                "FAILED",
                "DELETED"
              ]
            }
          },
          {
            "name": "library_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "aigc_avatar",
                "liveness_face"
              ]
            },
            "description": "Filtrar pela classe da biblioteca de materiais."
          },
          {
            "name": "project_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "default": "default"
            },
            "description": "Escopo do projeto para o recurso de material."
          }
        ],
        "responses": {
          "200": {
            "description": "Ativos de material",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceMaterialAssetList"
                },
                "examples": {
                  "assets": {
                    "summary": "Ativos de material",
                    "value": {
                      "assets": [
                        {
                          "id": "asset-20260720123456-qn7wr",
                          "object": "seedance.material_asset",
                          "group_id": "group-20260720123456-vrt01",
                          "library_type": "aigc_avatar",
                          "asset_name": "Front view",
                          "asset_type": "Image",
                          "status": "ACTIVE",
                          "ready": true,
                          "error_message": null,
                          "metadata": null,
                          "created_at": 1782998400000
                        }
                      ],
                      "next_page_token": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/videos/assets/{assetId}": {
      "get": {
        "tags": [
          "Video"
        ],
        "summary": "Obter ativo de material Seedance",
        "description": "Recupera um ativo de material TokenLab Seedance e seu status de ingestão assíncrona.",
        "operationId": "getSeedanceMaterialAsset",
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "asset-20260720123456-qn7wr"
          },
          {
            "name": "project_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "default": "default"
            },
            "description": "Escopo do projeto para o recurso de material."
          }
        ],
        "responses": {
          "200": {
            "description": "Ativo de material",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceMaterialAsset"
                },
                "examples": {
                  "asset": {
                    "summary": "Ativo de material",
                    "value": {
                      "id": "asset-20260720123456-qn7wr",
                      "object": "seedance.material_asset",
                      "group_id": "group-20260720123456-vrt01",
                      "library_type": "aigc_avatar",
                      "asset_name": "Front view",
                      "asset_type": "Image",
                      "status": "ACTIVE",
                      "ready": true,
                      "error_message": null,
                      "metadata": null,
                      "created_at": 1782998400000
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/MaterialLibraryUnavailable"
          }
        }
      },
      "put": {
        "tags": [
          "Video"
        ],
        "operationId": "updateSeedanceMaterialAsset",
        "summary": "Atualizar ativo de material Seedance",
        "description": "Atualiza um ativo de material Seedance pertencente à organização autenticada.",
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "description": "ID do ativo de material TokenLab.",
            "schema": {
              "type": "string"
            },
            "example": "asset-20260720123456-qn7wr"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceMaterialAssetUpdateRequest"
              },
              "examples": {
                "update_asset": {
                  "summary": "Atualizar metadados do ativo",
                  "value": {
                    "asset_name": "Front view approved",
                    "metadata": {
                      "approved_by": "creative-team"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ativo de material atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceMaterialAsset"
                },
                "examples": {
                  "asset_updated": {
                    "summary": "Ativo de material atualizado",
                    "value": {
                      "id": "asset-20260720123456-qn7wr",
                      "object": "seedance.material_asset",
                      "group_id": "group-20260720123456-vrt01",
                      "library_type": "aigc_avatar",
                      "asset_name": "Front view approved",
                      "asset_type": "Image",
                      "status": "ACTIVE",
                      "ready": true,
                      "error_message": null,
                      "metadata": {
                        "approved_by": "creative-team"
                      },
                      "created_at": 1782998400000
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "O ativo de material ainda está processando ou falhou sem uma réplica ativa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "A fonte de material armazenada falhou na validação permanente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "message": "Image width must be between 300px and 6000px.",
                    "type": "invalid_request_error",
                    "code": "seedance_material_source_invalid",
                    "param": "asset_url"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/MaterialLibraryUnavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Video"
        ],
        "summary": "Excluir ativo de material Seedance",
        "description": "Exclui um ativo de material Seedance pertencente à organização autenticada.",
        "operationId": "deleteSeedanceMaterialAsset",
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "asset-20260720123456-qn7wr"
          },
          {
            "name": "project_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "default": "default"
            },
            "description": "Escopo do projeto para o recurso de material."
          }
        ],
        "responses": {
          "200": {
            "description": "Ativo de material excluído",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceMaterialAssetDeleteResponse"
                },
                "examples": {
                  "asset_deleted": {
                    "summary": "Ativo de material excluído",
                    "value": {
                      "deleted": true,
                      "id": "asset-20260720123456-qn7wr"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/MaterialLibraryUnavailable"
          }
        }
      }
    },
    "/v1/tasks/{id}": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Obter status da tarefa assíncrona",
        "description": "Recupera o status e o resultado de uma tarefa de geração assíncrona. Prefira a `poll_url` retornada pela resposta de criação; `/v1/tasks/{id}` é o endpoint de status fixo canônico para jobs de vídeo, música e 3D.",
        "operationId": "getAsyncTask",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "O ID da tarefa assíncrona retornado por `id` / `task_id`, ou incorporado na `poll_url`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status da tarefa (campos específicos do tipo de tarefa podem estar presentes)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Tarefa não disponível para a API key atual",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Tasks"
        ],
        "summary": "Cancelar tarefa assíncrona",
        "description": "Cancela uma tarefa assíncrona na fila quando o cancelamento é suportado para a tarefa selecionada. O cancelamento atualmente suporta tarefas de vídeo Seedance na fila (`seedance-1.5-pro`, `seedance-2.0` e `seedance-2.0-fast`) enquanto ainda aguardam execução. Tarefas que já estão processando, concluídas, falharam, expiraram ou não são suportadas não são canceladas.",
        "operationId": "cancelAsyncTask",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "O ID da tarefa assíncrona retornado por `id` / `task_id`, ou incorporado na `poll_url`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tarefa cancelada. A tarefa permanece consultável e é representada como `failed` com `cancelled: true` para compatibilidade com valores de status de tarefa assíncrona existentes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                },
                "example": {
                  "id": "ldtask_aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                  "task_id": "ldtask_aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                  "poll_url": "/v1/tasks/ldtask_aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                  "status": "failed",
                  "cancelled": true,
                  "cancellation_status": "cancelled",
                  "error": "Task cancelled before execution"
                }
              }
            }
          },
          "400": {
            "description": "O tipo de tarefa, provedor ou modelo não suporta cancelamento",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Tarefa não disponível para a API key atual",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Tarefa não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "A tarefa não é mais cancelável, por exemplo, porque já está processando ou em estado terminal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/models": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "Listar modelos",
        "description": "Lista os modelos atualmente disponíveis. Use `view=compact` para seleção de modelo e `view=full` para o formato de descoberta compatível com OpenAI existente. Chamadas de API nativas usam `full` por padrão; integrações podem escolher `compact` como padrão. Recomendações que não são de chat estão disponíveis através de `recommended_for`.",
        "operationId": "listModels",
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "required": false,
            "description": "Filtrar por provedor de modelo público, por exemplo, openai, anthropic, google ou minimax.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "description": "Filtrar por uma tag de capacidade pública.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Filtrar por categoria de modelo.",
            "schema": {
              "type": "string",
              "enum": [
                "chat",
                "embedding",
                "translation",
                "image",
                "video",
                "audio",
                "tts",
                "stt",
                "rerank",
                "3d",
                "music"
              ]
            }
          },
          {
            "name": "recommended_for",
            "in": "query",
            "required": false,
            "description": "Ordenar modelos suportados que não são de chat para uma categoria de tarefa e incluir evidências de recomendação.",
            "schema": {
              "type": "string",
              "enum": [
                "image",
                "video",
                "music",
                "3d",
                "tts",
                "stt",
                "embedding",
                "rerank",
                "translation"
              ]
            }
          },
          {
            "name": "view",
            "in": "query",
            "required": false,
            "description": "Escolha campos de seleção de modelo compactos ou o formato de lista completo compatível com OpenAI.",
            "schema": {
              "type": "string",
              "enum": [
                "compact",
                "full"
              ],
              "default": "full"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de modelos",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ModelsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/CompactModelsResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/models/{model}": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "Obter modelo",
        "description": "Recupera os detalhes atuais do modelo, incluindo operações suportadas, parâmetros de requisição, endpoints de requisição, limites de seletor e preços quando disponíveis. Integrações que não sejam de chat devem ler esses detalhes de requisição específicos do modelo antes de criar uma requisição.",
        "operationId": "getModel",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "O ID do modelo",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Informações do modelo",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Modelo não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/messages": {
      "post": {
        "tags": [
          "Anthropic"
        ],
        "summary": "Criar mensagem (compatível com Anthropic)",
        "description": "Cria uma resposta de modelo usando o formato de requisição nativo da Anthropic. Suporta modelos Claude com visão e streaming.\n\n**Autenticação:** Use o cabeçalho `x-api-key` ou o cabeçalho `Authorization: Bearer`.",
        "operationId": "createAnthropicMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnthropicMessagesRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Mensagem básica",
                  "value": {
                    "model": "claude-sonnet-4-6",
                    "max_tokens": 1024,
                    "messages": [
                      {
                        "role": "user",
                        "content": "Hello, Claude!"
                      }
                    ]
                  }
                },
                "with_system": {
                  "summary": "Com system prompt",
                  "value": {
                    "model": "claude-sonnet-4-6",
                    "max_tokens": 1024,
                    "system": "You are a helpful assistant.",
                    "messages": [
                      {
                        "role": "user",
                        "content": "What is 2+2?"
                      }
                    ]
                  }
                },
                "streaming": {
                  "summary": "Resposta via streaming",
                  "value": {
                    "model": "claude-sonnet-4-6",
                    "max_tokens": 1024,
                    "stream": true,
                    "messages": [
                      {
                        "role": "user",
                        "content": "Tell me a story"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicMessagesResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Stream SSE estilo Anthropic com eventos message_start, content_block_delta, message_stop"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/messages/count_tokens": {
      "post": {
        "tags": [
          "Anthropic"
        ],
        "summary": "Contar tokens de mensagem (compatível com Anthropic)",
        "description": "Conta os tokens de entrada para uma requisição de mensagens compatível com Anthropic sem criar uma resposta de modelo. A autenticação é necessária; a operação não é cobrada.",
        "operationId": "countAnthropicMessageTokens",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnthropicCountTokensRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta de contagem de tokens",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicCountTokensResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/messages/batches": {
      "post": {
        "tags": [
          "Anthropic"
        ],
        "summary": "Criar lote de mensagens (compatível com Anthropic)",
        "description": "Cria um Message Batch nativo da Anthropic. As requisições usam os mesmos parâmetros de mensagem da Anthropic que /v1/messages.",
        "operationId": "createAnthropicMessageBatch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnthropicMessageBatchCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lote de mensagens criado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicMessageBatch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      },
      "get": {
        "tags": [
          "Anthropic"
        ],
        "summary": "Listar lotes de mensagens (compatível com Anthropic)",
        "description": "Lista os Message Batches nativos da Anthropic para a organização autenticada.",
        "operationId": "listAnthropicMessageBatches",
        "parameters": [
          {
            "name": "before_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Retornar lotes anteriores a este ID de lote"
          },
          {
            "name": "after_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Retornar lotes posteriores a este ID de lote"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 20
            },
            "description": "Número máximo de lotes a retornar"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de lotes de mensagens",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicMessageBatchListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/messages/batches/{message_batch_id}": {
      "get": {
        "tags": [
          "Anthropic"
        ],
        "summary": "Recuperar lote de mensagens (compatível com Anthropic)",
        "description": "Recupera o status e os metadados de um Message Batch nativo da Anthropic.",
        "operationId": "retrieveAnthropicMessageBatch",
        "parameters": [
          {
            "name": "message_batch_id",
            "in": "path",
            "required": true,
            "description": "Identificador do lote de mensagens da Anthropic",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lote de mensagens",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicMessageBatch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      },
      "delete": {
        "tags": [
          "Anthropic"
        ],
        "summary": "Excluir lote de mensagens (compatível com Anthropic)",
        "description": "Exclui um Message Batch nativo da Anthropic quando o provedor suporta exclusão.",
        "operationId": "deleteAnthropicMessageBatch",
        "parameters": [
          {
            "name": "message_batch_id",
            "in": "path",
            "required": true,
            "description": "Identificador do lote de mensagens da Anthropic",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lote de mensagens excluído",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicDeletedMessageBatch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/messages/batches/{message_batch_id}/results": {
      "get": {
        "tags": [
          "Anthropic"
        ],
        "summary": "Recuperar resultados do lote de mensagens (compatível com Anthropic)",
        "description": "Baixa os resultados em JSONL para um Message Batch nativo da Anthropic concluído.",
        "operationId": "retrieveAnthropicMessageBatchResults",
        "parameters": [
          {
            "name": "message_batch_id",
            "in": "path",
            "required": true,
            "description": "Identificador do lote de mensagens da Anthropic",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resultados do lote de mensagens em formato JSONL",
            "content": {
              "application/x-jsonl": {
                "schema": {
                  "type": "string",
                  "description": "Registros de resultados em JSON delimitados por nova linha"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Registros de resultados em JSON delimitados por nova linha"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/messages/batches/{message_batch_id}/cancel": {
      "post": {
        "tags": [
          "Anthropic"
        ],
        "summary": "Cancelar lote de mensagens (compatível com Anthropic)",
        "description": "Cancela um Message Batch nativo da Anthropic quando o provedor ainda permite o cancelamento.",
        "operationId": "cancelAnthropicMessageBatch",
        "parameters": [
          {
            "name": "message_batch_id",
            "in": "path",
            "required": true,
            "description": "Identificador do lote de mensagens da Anthropic",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lote de mensagens cancelado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicMessageBatch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1beta/models/{model}:generateContent": {
      "post": {
        "tags": [
          "Gemini"
        ],
        "summary": "Gerar conteúdo (compatível com Gemini)",
        "description": "Gera conteúdo usando o formato nativo GenerateContent do Gemini. Esta rota é exposta apenas quando os detalhes do modelo anunciam requisições Gemini e uma rota de mesmo protocolo está disponível no momento. Os nomes de campo ProtoJSON lowerCamelCase e os nomes de campo originais proto snake_case são preservados. Campos desconhecidos são encaminhados com o melhor esforço e o suporte é determinado pelo provedor selecionado.\n\n**Autenticação:** Use o parâmetro de consulta `?key=`, o cabeçalho `x-goog-api-key` ou o cabeçalho `Authorization: Bearer`.",
        "operationId": "geminiGenerateContent",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          },
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "Nome do modelo (ex: gemini-2.5-pro)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "description": "Chave de API (alternativa à autenticação via cabeçalho)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeminiRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Geração de texto básica",
                  "value": {
                    "contents": [
                      {
                        "parts": [
                          {
                            "text": "Hello, Gemini!"
                          }
                        ]
                      }
                    ]
                  }
                },
                "with_config": {
                  "summary": "Com configuração de geração",
                  "value": {
                    "contents": [
                      {
                        "parts": [
                          {
                            "text": "Explain quantum computing"
                          }
                        ]
                      }
                    ],
                    "generationConfig": {
                      "temperature": 0.7,
                      "maxOutputTokens": 1024
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro de requisição inválida nativo do Gemini",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Erro de autenticação nativo do Gemini",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Erro de pagamento nativo do Gemini",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro de servidor nativo do Gemini",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        }
      }
    },
    "/v1beta/models/{model}:streamGenerateContent": {
      "post": {
        "tags": [
          "Gemini"
        ],
        "summary": "Stream de geração de conteúdo (compatível com Gemini)",
        "description": "Faz streaming de Server-Sent Events nativos do GenerateContent do Gemini sem adicionar terminadores de Chat Completions. Chunks apenas de metadados, chunks intermediários sem finishReason e EOF natural são válidos.\n\n**Autenticação:** Use o parâmetro de consulta `?key=`, o cabeçalho `x-goog-api-key` ou o cabeçalho `Authorization: Bearer`.",
        "operationId": "geminiStreamGenerateContent",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          },
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "Nome do modelo (ex: gemini-2.5-pro)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "description": "Chave de API (alternativa à autenticação via cabeçalho)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeminiRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta via streaming",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Stream SSE com chunks de resposta do Gemini"
                }
              }
            }
          },
          "400": {
            "description": "Erro de requisição inválida nativo do Gemini",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Erro de autenticação nativo do Gemini",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Erro de pagamento nativo do Gemini",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro de servidor nativo do Gemini",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        }
      }
    },
    "/v1beta/models/{model}:countTokens": {
      "post": {
        "tags": [
          "Gemini"
        ],
        "summary": "Contar tokens (compatível com Gemini)",
        "description": "Conta tokens usando o contrato nativo CountTokens do Gemini. Campos desconhecidos e a grafia oficial dos nomes de campo ProtoJSON são encaminhados com o melhor esforço.",
        "operationId": "geminiCountTokens",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "generateContentRequest": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "generate_content_request": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta de contagem de tokens nativa do Gemini",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Resposta de erro nativa do Gemini",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/models/{model}:embedContent": {
      "post": {
        "tags": [
          "Gemini"
        ],
        "summary": "Incorporar conteúdo (compatível com Gemini)",
        "description": "Cria um embedding usando o contrato nativo EmbedContent do Gemini.",
        "operationId": "geminiEmbedContent",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          },
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "content"
                ],
                "properties": {
                  "content": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "taskType": {
                    "type": "string"
                  },
                  "task_type": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "outputDimensionality": {
                    "type": "integer"
                  },
                  "output_dimensionality": {
                    "type": "integer"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta de embedding nativa do Gemini",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Resposta de erro nativa do Gemini",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        }
      }
    },
    "/v1beta/models/{model}:batchEmbedContents": {
      "post": {
        "tags": [
          "Gemini"
        ],
        "summary": "Incorporar conteúdos em lote (compatível com Gemini)",
        "description": "Cria múltiplos embeddings usando o contrato nativo BatchEmbedContents do Gemini.",
        "operationId": "geminiBatchEmbedContents",
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          },
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "requests"
                ],
                "properties": {
                  "requests": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta de embedding em lote nativa do Gemini",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Resposta de erro nativa do Gemini",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiErrorResponse"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        }
      }
    },
    "/v1/responses": {
      "post": {
        "tags": [
          "Responses"
        ],
        "summary": "Criar resposta (API de Respostas da OpenAI)",
        "description": "Cria uma resposta usando o formato nativo da API de Respostas da OpenAI. Os detalhes do modelo devem anunciar o formato de requisição Responses e uma rota de mesmo protocolo deve estar disponível no momento; nomes de modelos e provedores não implicam disponibilidade. Campos de requisição desconhecidos são encaminhados com o melhor esforço e permanecem sujeitos ao suporte do provedor selecionado.",
        "operationId": "createResponse",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Modelo a ser usado"
                  },
                  "input": {
                    "oneOf": [
                      {
                        "type": "string",
                        "description": "Entrada de string única."
                      },
                      {
                        "type": "array",
                        "description": "Itens de entrada estruturados para a conversa."
                      }
                    ],
                    "description": "Conteúdo de entrada como string ou array de itens estruturados."
                  },
                  "instructions": {
                    "type": "string",
                    "description": "Instruções do sistema"
                  },
                  "max_output_tokens": {
                    "type": "integer",
                    "description": "Máximo de tokens de saída"
                  },
                  "temperature": {
                    "type": "number"
                  },
                  "stream": {
                    "type": "boolean"
                  },
                  "tools": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Ferramentas disponíveis para o modelo. Tipos de ferramentas e combinações são validados pelo serviço selecionado."
                  },
                  "tool_choice": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "object",
                        "additionalProperties": true
                      }
                    ],
                    "description": "Política de escolha de ferramenta ou seleção explícita de ferramenta."
                  },
                  "stream_options": {
                    "type": "object",
                    "properties": {
                      "include_obfuscation": {
                        "type": "boolean",
                        "description": "Quando verdadeiro, solicita tokens ofuscados em eventos de stream de Respostas de upstreams compatíveis."
                      }
                    },
                    "additionalProperties": true,
                    "description": "Opções de streaming de Respostas."
                  },
                  "include": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Seções de resposta adicionais a serem incluídas quando suportado."
                  },
                  "service_tier": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Dica de nível de serviço para provedores compatíveis."
                  },
                  "truncation": {
                    "type": "string",
                    "description": "Estratégia de truncamento para conversas longas."
                  },
                  "background": {
                    "type": "boolean",
                    "description": "Se a resposta deve ser executada de forma assíncrona."
                  },
                  "previous_response_id": {
                    "type": "string",
                    "description": "ID de uma resposta anterior para continuar."
                  },
                  "prompt": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Referência a um modelo de prompt reutilizável e variáveis."
                  },
                  "store": {
                    "type": "boolean",
                    "description": "Se a resposta é armazenada para recuperação posterior."
                  },
                  "reasoning": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Configuração de raciocínio."
                  },
                  "top_p": {
                    "type": "number",
                    "description": "Probabilidade de amostragem de núcleo (nucleus sampling)."
                  },
                  "parallel_tool_calls": {
                    "type": "boolean",
                    "description": "Se o modelo pode emitir chamadas de ferramenta paralelas."
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Metadados da requisição."
                  },
                  "text": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Opções de formatação de texto."
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/responses/{id}": {
      "get": {
        "tags": [
          "Responses"
        ],
        "summary": "Recuperar resposta",
        "description": "Recupera uma resposta armazenada da API de Respostas pelo ID de resposta do TokenLab. Verificações de propriedade retornam 404 quando a resposta está ausente ou indisponível para a chave de API atual.",
        "operationId": "retrieveResponse",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da resposta retornado por POST /v1/responses."
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Campos de resposta adicionais a serem incluídos."
          },
          {
            "name": "include_obfuscation",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Se os eventos transmitidos incluem campos de ofuscação."
          },
          {
            "name": "stream",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Se a resposta deve ser recuperada como um stream de eventos."
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Número de sequência após o qual os eventos de streaming são retornados."
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta armazenada"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Responses"
        ],
        "summary": "Excluir resposta",
        "description": "Exclui uma resposta armazenada da API de Respostas. Esta operação é uma exclusão, não um cancelamento de uma resposta em andamento.",
        "operationId": "deleteResponse",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da resposta retornado por POST /v1/responses."
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta excluída"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/responses/compact": {
      "post": {
        "tags": [
          "Responses"
        ],
        "summary": "Compactar contexto de resposta (API de Respostas da OpenAI)",
        "description": "Compacta a entrada de Respostas e retorna o contrato nativo `response.compaction`. O modelo da requisição deve estar disponível em um caminho de Respostas de mesmo protocolo.",
        "operationId": "compactResponse",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "input"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Modelo a ser usado para compactação. O CLI do Codex envia o modelo da sessão atual."
                  },
                  "input": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "description": "Itens de entrada de Respostas a serem compactados."
                      }
                    ],
                    "description": "Entrada de conversa a ser compactada."
                  },
                  "max_output_tokens": {
                    "type": "integer",
                    "description": "Máximo de tokens de saída."
                  },
                  "stream": {
                    "type": "boolean",
                    "description": "Streaming não é suportado para compactação."
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Metadados da requisição."
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta de compactação bem-sucedida"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/rerank": {
      "post": {
        "tags": [
          "Embeddings"
        ],
        "summary": "Reclassificar documentos",
        "description": "Reclassifica documentos por relevância a uma consulta usando similaridade semântica.",
        "operationId": "rerankDocuments",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "query",
                  "documents"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Modelo de reclassificação (reranker) a ser usado"
                  },
                  "query": {
                    "type": "string",
                    "description": "Consulta para classificação"
                  },
                  "documents": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Documentos para reclassificação"
                  },
                  "top_n": {
                    "type": "integer",
                    "description": "Número de resultados a retornar"
                  },
                  "return_documents": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resultados classificados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "results",
                    "model"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "model": {
                      "type": "string"
                    },
                    "usage": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "503": {
            "$ref": "#/components/responses/DeliveryUnavailable"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/DeliveryPolicy"
          }
        ]
      }
    },
    "/v1/music/generations": {
      "post": {
        "tags": [
          "Audio"
        ],
        "summary": "Criar tarefa de geração de música",
        "description": "Cria uma tarefa de geração de música usando o Suno. Retorna um ID de tarefa para consulta (polling).",
        "operationId": "createMusic",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "default": "suno_music"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Descrição da música. Obrigatório para solicitações de música, letra, upload-cover e upload-extend; omitir para add-instrumental."
                  },
                  "title": {
[...]
